<template>
  <v-row class="float-right filter-rent" style="max-width: 400px;">
    <v-col
      cols="12"
      class="bg-special-price line-height-initial mb-2 py-2 fs-14 font-weight-bold white--text"
    >
      {{ $t("Ofertas") }}
    </v-col>
    <v-col md="12" cols="12" class="px-0 py-0" style="margin-left: -4px">
      <v-checkbox
        v-model="special"
        :label="$t('Ofertas')"
        color="#0075ff"
        hide-details
        class="mt-0"
        dense
        @click="filterChk()"
      ></v-checkbox>
    </v-col>

    <v-col
      md="12"
      cols="12"
      class="bo-a-1-ccc mt-1 line-height-initial px-2 py-2 fs-14 font-weight-bold mt-3 mb-2 filter-header"
    >
      {{ $t("Tipo de moto") }}
    </v-col>
    <v-col
      v-for="(type, id) in types"
      v-bind:key="'type' + id"
      md="12"
      cols="12"
      class="px-0 py-0"
      style="margin-left: -4px"
    >
      <v-checkbox
        v-model="typesModel"
        :label="$t(type.text)"
        :value="type.value"
        color="#0075ff"
        hide-details
        class="mt-0 fs-14"
        dense
        @click="filterChk()"
        :disabled="type.disabled"
      ></v-checkbox>
    </v-col>
    <v-col
      md="12"
      cols="12"
      class="bo-a-1-ccc mt-1 line-height-initial px-2 py-2 fs-14 font-weight-bold mt-3 mb-2 filter-header"
    >
      {{ $t("Zonas") }}
    </v-col>
    <v-col
      v-for="(area, id) in areas"
      v-bind:key="'area' + id"
      md="12"
      cols="12"
      class="px-0 py-0"
      style="margin-left: -4px"
    >
      <v-checkbox
        v-model="areasModel"
        :label="area.text"
        :value="area.value"
        color="#0075ff"
        hide-details
        class="mt-0"
        dense
        @click="filterChk()"
        :disabled="area.disabled"
      ></v-checkbox>
    </v-col>

    <v-col
      md="12"
      cols="12"
      class="bo-a-1-ccc mt-1 line-height-initial px-2 py-2 fs-14 font-weight-bold mt-3 mb-2 filter-header"
    >
      {{ $t("Marcas") }}
    </v-col>
    <v-col
      v-for="(brand, id) in brands"
      v-bind:key="'brand' + id"
      md="12"
      cols="12"
      class="px-0 py-0"
      style="margin-left: -4px"
    >
      <v-checkbox
        v-model="brandsModel"
        :label="brand.text"
        :value="brand.value"
        color="#0075ff"
        hide-details
        class="mt-0"
        dense
        @click="filterChk()"
        :disabled="brand.disabled"
      ></v-checkbox>
    </v-col>

    <v-col
      md="12"
      cols="12"
      class="bo-a-1-ccc mt-1 line-height-initial px-2 py-2 fs-14 font-weight-bold mt-3 mb-2 filter-header"
    >
      {{ $t("Cilindrada") }}
    </v-col>
    <v-col
      v-for="(displacement, id) in displacements"
      v-bind:key="'displacement' + id"
      md="12"
      cols="12"
      class="px-0 py-0"
      style="margin-left: -4px"
    >
      <v-checkbox
        v-model="displacementsModel"
        :label="$t(displacement.text)"
        :value="displacement.value"
        color="#0075ff"
        hide-details
        class="mt-0"
        dense
        @click="filterChk()"
        :disabled="displacement.disabled"
      ></v-checkbox>
    </v-col>

    <v-col
      md="12"
      cols="12"
      class="bo-a-1-ccc mt-1 line-height-initial px-2 py-2 fs-14 font-weight-bold mt-3 mb-2 mb-2 filter-header"
    >
      {{ $t("Kilómetros") }}
    </v-col>
    <v-col
      v-for="(mileage, id) in mileages"
      v-bind:key="'mileage' + id"
      md="12"
      cols="12"
      class="px-0 py-0"
      style="margin-left: -4px"
    >
      <v-checkbox
        v-model="mileagesModel"
        :label="mileage.value"
        :value="mileage.value"
        color="#0075ff"
        hide-details
        class="mt-0"
        dense
        @click="filterChk()"
        :disabled="mileage.disabled"
      ></v-checkbox>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "FilterRent",
  data() {
    return {
      typesModel: [],
      areasModel: [],
      brandsModel: [],
      displacementsModel: [],
      mileagesModel: [],
      lang: null,
      special: null
    };
  },
  props: ["types", "areas", "brands", "displacements", "mileages", "specials"],
  methods: {
    unique(arr) {
      const res = new Map();
      console.log(arr);
      return arr.filter(arr => !res.has(arr.id) && res.set(arr.id, 1));
    },
    filterChk() {
      var data = {
        country: this.$route.query.country,
        city: this.$route.query.city,
        start: this.$route.query.start,
        starthour: this.$route.query.starthour,
        end: this.$route.query.end,
        endhour: this.$route.query.endhour
      };
      if (this.$route.query.returncity !== null) {
        data["city2"] = this.$route.query.returncity;
      }
      if (this.typesModel.length > 0) {
        data["type"] = JSON.stringify(this.typesModel)
          .replaceAll(" ", "_")
          .replaceAll(",", "|")
          .replace(/[^A-Za-z0-9_|]+/gi, "");
      }
      if (this.areasModel.length > 0) {
        data["area"] = JSON.stringify(this.areasModel)
          .replaceAll(" ", "_")
          .replaceAll(",", "|")
          .replace(/[^A-Za-z0-9_|]+/gi, "");
      }
      if (this.brandsModel.length > 0) {
        data["brand"] = JSON.stringify(this.brandsModel)
          .replaceAll(" ", "_")
          .replaceAll(",", "|")
          .replace(/[^A-Za-z0-9_|]+/gi, "");
      }
      if (this.displacementsModel.length > 0) {
        data["cc"] = JSON.stringify(this.displacementsModel)
          .replaceAll(" ", "_")
          .replaceAll(",", "|")
          .replace(/[^A-Za-z0-9_|]+/gi, "");
      }
      if (this.mileagesModel.length > 0) {
        data["km"] = JSON.stringify(this.mileagesModel)
          .replaceAll(" ", "_")
          .replaceAll(",", "|")
          .replace(/[^A-Za-z0-9_|]+/gi, "");
      }
      if (this.special == true) {
        data["special"] = 1;
      }
      this.$router
        .push({
          path: this.$router.currentRoute.path,
          query: data,
          params: {
            lang: this.lang
          }
        })
        .catch(failure => {
          console.log(failure);
        });
    },
    filtroAttribule() {
      this.typesModel = [];
      this.areasModel = [];
      this.brandsModel = [];
      this.displacementsModel = [];
      this.mileagesModel = [];
      for (const type in this.types) {
        if (this.types[type].checked == true) {
          this.typesModel.push(this.types[type].value);
        }
      }
      for (const area in this.areas) {
        if (this.areas[area].checked == true) {
          this.areasModel.push(this.areas[area].value);
        }
      }
      for (const brand in this.brands) {
        if (this.brands[brand].checked == true) {
          this.brandsModel.push(this.brands[brand].value);
        }
      }
      for (const displacement in this.displacements) {
        if (this.displacements[displacement].checked == true) {
          this.displacementsModel.push(this.displacements[displacement].value);
        }
      }
      for (const mileage in this.mileages) {
        if (this.mileages[mileage].checked == true) {
          this.mileagesModel.push(this.mileages[mileage].value);
        }
      }
      if (this.specials.checked == true) {
        this.special = this.specials.value;
      }
      console.log(this.types);
    }
  },
  watch: {
    "$route.query.type"() {
      this.filtroAttribule();
    },
    "$route.query.area"() {
      this.filtroAttribule();
    },
    "$route.query.brand"() {
      this.filtroAttribule();
    },
    "$route.query.cc"() {
      this.filtroAttribule();
    },
    "$route.query.km"() {
      this.filtroAttribule();
    },
    "$route.query.special"() {
      this.filtroAttribule();
    }
  },
  created() {
    if (this.$route.params.lang == undefined) {
      this.$i18n.locale = "en";
    } else {
      this.$i18n.locale = this.$route.params.lang;
      this.lang = this.$route.params.lang;
    }
  }
};
</script>

<style>
.filter-rent .v-input--selection-controls .v-input__slot > .v-label,
.v-input--selection-controls .v-radio > .v-label {
  color: #555 !important;
  font-size: 14px !important;
  margin-left: -7px;
}

.filter-header {
  color: #000;
}

@media (max-width: 767px) {
  .filter-header {
    color: #fff;
  }

  .filter-rent .v-input--selection-controls .v-input__slot > .v-label,
  .v-input--selection-controls .v-radio > .v-label {
    color: #fff !important;
  }
}
</style>
