<template>
  <v-row class="float-right px-3" style="max-width: 400px;">
    <v-row v-for="(opinion, id) in this.opinions" v-bind:key="'opinion' + id">
      <v-card width="100%" elevation="0" class="mt-3 mb-2 bg-reviews bo-a-1-e7">
        <v-card-text class="black--text py-3 px-7">
          <div>
            <span
              class="flag-icon mr-2"
              :class="
                'flag-icon-' + opinion.customer_country.toLowerCase().trim()
              "
            ></span>
            <v-icon class="mr-2 pb-1" color="black" small>mdi-account</v-icon>
            <span class="mr-1">{{ opinion.customer_name }}</span>
            <span class="opidate">{{
              $d(new Date(opinion.date_create), 'short', $i18n.locale)
            }}</span>
          </div>
          <div class="py-1">{{ opinion.txt_rmb.substring(0, 120) }}...</div>
          <div class="ml-n1" rating_rmb>
            <v-icon
              color="black"
              small
              v-for="n in parseInt(opinion.rating_rmb)"
              class="fs-14 pb-1"
              style="margin-right: -2px;"
              :key="n"
              >mdi-star</v-icon
            >
            <span class="ml-1">{{ opinion.rating_rmb }}</span>
          </div>
        </v-card-text>
      </v-card>
    </v-row>
  </v-row>
</template>
<script>
export default {
  name: 'Opinion',
  props: ['opinions']
}
</script>
