<template>
  <div class="search-box searchForm">
    <v-col cols="12" class="col-6 active-combo combo-2 px-0 py-0">
      <v-col cols="6" class="active-combo combo-2">
        <v-icon class="pr-2" color="white">mdi-motorbike</v-icon
        >{{ $t("Alquiler") }}
      </v-col>
      <v-col cols="6" class="combo-2 combo-2-tour">
        <v-icon class="pr-2" color="#333">mdi-map-legend</v-icon
        ><a href="/es/viajes/">{{ $t("Viajes en moto") }}</a>
      </v-col>
    </v-col>

    <v-form class="px-2 pt-2">
      <v-row class="px-2">
        <v-col md="12" cols="12" class="mt-2">
          <h1 class="mb-3 text-h5 white--text mx-1">
            {{ $t("Alquiler de motos en todo el mundo") }}
          </h1>
          <h2 class="pb-3 text-body-1 color-fff bo-b-1-ccc white--text mx-1">
            {{ $t("Más de 1100 bases en 74 países") }}
          </h2>
        </v-col>
        <v-col md="4" cols="12" class="pt-2 pb-0 px-4">
          <span class="text-body-1 white--text fs-14">{{ $t("País") }}</span>
        </v-col>

        <v-col md="8" cols="12" class="pt-md-2 pt-0 px-4 pb-5">
          <v-autocomplete
            color="#333"
            background-color="#fff"
            :items="countries"
            :item-text="item => $t(item.text)"
            item-value="value"
            outlined
            dense
            class="col-md-12 button-noradius"
            @input="setCity"
            v-model="country"
            hide-details
          ></v-autocomplete>
        </v-col>

        <v-col md="4" cols="12" class="py-0 px-4">
          <span class="text-body-1 white--text fs-14">{{ $t("Ciudad") }}</span>
        </v-col>
        <v-col md="8" cols="12" class="pt-0 pb-3 px-4">
          <v-autocomplete
            color="#333"
            background-color="#fff"
            :items="selectedCities"
            item-text="name"
            item-value="name"
            outlined
            dense
            class="col-md-12 button-noradius"
            @input="setCheckboxReturnCity"
            :disabled="disabledCity == 1"
            v-model="city"
            hide-details
          >
            <template v-slot:item="data" style="height:20px">
              <template v-if="typeof data.item !== 'object'">
                <span v-text="data.item"></span>
              </template>
              <template v-else style="height:20px">
                <span v-html="data.item.name"> </span>
              </template>
            </template>
          </v-autocomplete>
        </v-col>
        <v-col
          md="12"
          cols="12"
          class="py-0 mx-0"
          v-if="showReturnCityCheckbox"
        >
          <v-checkbox
            light
            input-value="true"
            class="mt-0 checkbox-return"
            color="#0075ff"
            @click="returnMotoChk"
            v-model="returnchk"
          >
            <template v-slot:label>
              <v-col
                md="12"
                cols="12"
                class="py-0 pl-0"
                style="margin: -8px !important;"
              >
                <div class="white--text fs-12">
                  <i class="icon-plus-squared fa-3x" aria-hidden="true"></i>
                  {{ $t("Devolver la moto en la misma oficina") }}
                </div>
              </v-col>
            </template>
          </v-checkbox>
        </v-col>

        <v-col md="4" cols="12" class="py-0 px-4" v-if="showReturnCity">
          <span class="text-body-1 white--text fs-14">{{
            $t("Devolver")
          }}</span>
        </v-col>
        <v-col md="8" cols="12" class="pb-3 pt-0 px-4" v-if="showReturnCity">
          <v-autocomplete
            color="#333"
            background-color="#fff"
            :items="selectedReturnCities"
            item-text="text"
            item-value="text"
            outlined
            dense
            class="col-md-12 button-noradius"
            v-model="returncity"
            hide-details
          ></v-autocomplete>
        </v-col>

        <v-col md="4" cols="12" class="pt-2 pb-0 pr-0 px-4">
          <span class="text-body-1 white--text fs-14">{{
            $t("Fecha de inicio:")
          }}</span>
        </v-col>
        <v-col md="4" class="pt-0 pt-md-2 pb-5 pr-0 searchDateClass pl-4 test">
          <v-menu
            v-model="menu1"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                class="button-noradius"
                color="#333"
                background-color="#fff"
                v-model="start"
                prepend-inner-icon="mdi-calendar"
                outlined
                dense
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details
              ></v-text-field>
            </template>
            <v-date-picker
              @change="startchange()"
              :min="startmin"
              v-model="start"
              @input="menu1 = false"
              no-title
              :first-day-of-week="$t('calendar-format')"
              color="#337ab7"
              show-adjacent-months
              :locale="$t('es-es')"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col md="4" class="pt-0 pt-md-2 pb-5 searchDateClass pr-4">
          <v-select
            class="button-noradius"
            color="#333"
            background-color="#fff"
            :items="hours"
            v-model="starthour"
            item-text="text"
            item-value="value"
            prepend-inner-icon="mdi-clock-outline"
            outlined
            dense
            hide-details
          ></v-select>
        </v-col>
        <v-col md="4" cols="12" class="py-0 pr-0 px-4">
          <span class="text-body-1 white--text fs-14">{{
            $t("Fecha final:")
          }}</span>
        </v-col>
        <v-col md="4" class="pt-0 pb-5 pr-0 searchDateClass pl-4">
          <v-menu
            v-model="menu2"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                class="button-noradius"
                color="#333"
                background-color="#fff"
                v-model="end"
                prepend-inner-icon="mdi-calendar"
                outlined
                dense
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="end"
              :min="start"
              @input="menu2 = false"
              no-title
              :first-day-of-week="$t('calendar-format')"
              color="#337ab7"
              show-adjacent-months
              :locale="$t('es-es')"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col md="4" class="pt-0 pb-5 searchDateClass pr-4">
          <v-select
            class="button-noradius fs-10"
            color="#333"
            background-color="#fff"
            :value="12"
            :items="hours"
            v-model="endhour"
            item-text="text"
            item-value="value"
            prepend-inner-icon="mdi-clock-outline"
            outlined
            dense
            hide-details
          ></v-select>
        </v-col>
        <v-col md="12" cols="12" class="pt-0 px-4">
          <v-btn
            type="submit"
            color="#70b32f"
            class="btn-submit-search-box mt-0 button-noradius font-weight-bold"
            @click.stop.prevent="submit()"
            >{{ $t("Buscar") }}</v-btn
          >
        </v-col>
      </v-row>
    </v-form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "SearchEngine",
  props: [
    "dfcountry",
    "dfcity",
    "dfreturn",
    "dfstart",
    "dfend",
    "dfsthora",
    "dfedhora"
  ],
  data() {
    return {
      countries: [],
      cities: [],
      startmin: new Date().toISOString().substr(0, 10),
      selectedCities: [],
      selectedReturnCities: [],
      returncities: [
        {
          text: "Barcelona",
          returncities: [
            {
              text: "Madrid",
              value: "Madrid"
            },
            {
              text: "Alicante",
              value: "Alicante"
            },
            {
              text: "Roma",
              value: "Roma"
            }
          ]
        },
        {
          text: "Madrid",
          returncities: [
            {
              text: "Barcelona",
              value: "Barcelona"
            },
            {
              text: "Málaga",
              value: "Málaga"
            },
            {
              text: "París",
              value: "París"
            }
          ]
        }
      ],
      hours: [
        {
          text: "8:00",
          value: "8"
        },
        {
          text: "9:00",
          value: "9"
        },
        {
          text: "10:00",
          value: "10"
        },
        {
          text: "11:00",
          value: "11"
        },
        {
          text: "12:00",
          value: "12"
        },
        {
          text: "13:00",
          value: "13"
        },
        {
          text: "14:00",
          value: "14"
        },
        {
          text: "15:00",
          value: "15"
        },
        {
          text: "16:00",
          value: "16"
        },
        {
          text: "17:00",
          value: "17"
        },
        {
          text: "18:00",
          value: "18"
        },
        {
          text: "19:00",
          value: "19"
        },
        {
          text: "20:00",
          value: "20"
        },
        {
          text: "21:00",
          value: "21"
        }
      ],
      disabledCity: 1,
      showReturnCityCheckbox: 0,
      showReturnCity: 0,
      start: new Date().toISOString().substr(0, 10),
      end: new Date().toISOString().substr(0, 10),
      menu1: false,
      menu2: false,
      country: null,
      city: null,
      returncity: null,
      returnchk: true,
      starthour: "9",
      endhour: "9",
      lang: null
    };
  },
  computed: {
    getCountries() {
      return this.$store.state.countries;
    },
    getCities() {
      return this.$store.state.cities;
    }
  },
  methods: {
    ...mapActions(["setCountriesData", "setCitiesData"]),
    async getCountriesData() {
      var LRU = require("lru-cache");
      let options = { max: 0, maxAge: 1000 * 60 * 60 * 24 };
      let cache = new LRU(options);
      this.countries = this.getCountries;
      if (this.countries.length == 0) {
        if (cache.has("countries") != false) {
          this.countries = cache.get("countries");
        } else {
          await this.setCountriesData();
          this.countries = this.getCountries;
          cache.set("countries", this.countries);
        }
      }
    },
    async getCitiesData() {
      var LRU = require("lru-cache");
      let options = { max: 0, maxAge: 1000 * 60 * 60 * 24 };
      let cache = new LRU(options);
      this.cities = this.getCities;
      if (this.cities.length == 0) {
        if (cache.has("cities") != false) {
          this.countries = cache.get("cities");
        } else {
          await this.setCitiesData();
          this.cities = this.getCities;
          cache.set("cities", this.cities);
        }
      }
    },
    setCity(country) {
      this.cities.forEach(value => {
        if (value.key == country) {
          this.disabledCity = 0;
          let rcy = [];
          let lastG;
          value.provinces.forEach(pro => {
            if (pro.group != lastG) {
              rcy.push({ header: pro.group });
            }
            rcy.push(pro);
            if (pro.group != lastG) {
              rcy.push({ divider: true });
            }
            lastG = pro.group;
          });
          this.selectedCities = rcy;
          this.city = value.provinces[0].name;
        }
      });
      this.showReturnCityCheckbox = 0;
      this.showReturnCity = 0;
      this.returncity = null;
      this.returnchk = true;
      this.selectedReturnCities = "";
    },
    setCheckboxReturnCity(city) {
      var chk = 0;
      this.returncities.forEach(value => {
        if (value.text == city) {
          chk = 1;
          this.showReturnCityCheckbox = 1;
          this.returncity = null;
          this.selectedReturnCities = value.returncities;
        }
      });
      if (chk == 0) {
        this.showReturnCityCheckbox = 0;
        this.showReturnCity = 0;
        this.returncity = null;
        this.returnchk = true;
        this.selectedReturnCities = "";
      }
    },
    returnMotoChk() {
      if (this.returnchk === true) {
        this.showReturnCity = 0;
        this.returncity = null;
      } else {
        var chk = 0;
        this.returncities.forEach(value => {
          if (value.text == this.city) {
            chk = 1;
            this.showReturnCity = 1;
            this.selectedReturnCities = value.returncities;
          }
        });
        if (chk == 0) {
          this.showReturnCity = 0;
          this.selectedReturnCities = "";
        }
      }
    },
    startchange() {
      let x = new Date(this.start).getTime() + 86400000 * 3;
      this.end = new Date(x);
      this.end = new Date(this.end).toISOString().substr(0, 10);
    },
    chkCookies() {
      if (this.dfcountry != null) {
        this.country = this.dfcountry;
        this.setCity(this.dfcountry);
      }

      if (this.dfcity != null) {
        this.city = this.dfcity;
        this.setCheckboxReturnCity(this.dfcity);
      }
      if (this.dfreturn != null) {
        this.returnchk = false;
        this.returnMotoChk();
        this.returncity = this.dfreturn;
      }
      if (this.dfstart != undefined) {
        this.start = this.dfstart;
      }
      if (this.dfend != undefined) {
        this.end = this.dfend;
      }
      if (this.dfsthora != undefined) {
        this.starthour = this.dfsthora;
      }
      if (this.dfedhora != undefined) {
        this.endhour = this.dfedhora;
      }
    },
    submit() {
      if (
        this.country === null ||
        this.city === null ||
        (this.returncity === null &&
          this.returnchk === false &&
          this.showReturnCity === 1)
      ) {
        alert("Please choose your location");
      } else {
        if (this.$i18n.locale != "en") {
          this.lang = this.$i18n.locale;
        }
        var data = {
          country: this.country,
          city: this.city,
          start: this.start,
          starthour: this.starthour,
          end: this.end,
          endhour: this.endhour
        };
        if (this.returncity !== null) {
          data["city2"] = this.returncity;
        }
        this.$router
          .push({
            name: "SearchRent",
            query: data,
            params: {
              lang: this.lang
            }
          })
          .catch(failure => {
            console.log(failure);
          });
      }
    }
  },
  watch: {
    date: {
      handler: function() {
        //console.log(this.date)
      },
      deep: true
    }
  },
  created() {
    this.getCountriesData();
    this.getCitiesData();
  }
};
</script>

<style>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.search-box {
  background: linear-gradient(to bottom, #86c03a 0, #057c01 100%);
  box-shadow: 1px 1px 16px #333;
}

.bo-b-1-ccc {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #ccc;
}

.btn-submit-search-box {
  width: 100%;
  color: #fff !important;
  font-size: 1em !important;
  height: 43px !important;
  cursor: pointer !important;
  border: none !important;
  -webkit-appearance: none;
  text-transform: uppercase !important;
  margin: 10px 0 5px;
  box-shadow: none !important;
}

.combo-1 {
  width: 100%;
}

.combo-2 {
  text-align: center;
  display: inline-block;
  color: white;
}

.combo-2-tour {
  background-color: white;
  text-decoration: none;
}

.combo-2-tour a {
  color: #333 !important;
}
.searchForm .v-list-item {
  height: 30px !important;
  min-height: 30px !important;
}
.searchForm .v-input__control .v-input__slot {
  height: 30px !important;
  min-height: 30px !important;
}
.searchForm .searchDateClass .v-input__control .v-input__slot {
  padding-left: 5px !important;
}
.v-input {
  font-size: 14px !important;
}
.searchForm .v-input__prepend-inner .v-input__icon {
  height: 14px;
}
.searchForm .v-input__append-inner .v-input__icon {
  height: 14px;
}
.searchForm .v-input__prepend-inner .v-icon.v-icon {
  font-size: 18px !important;
  color: rgb(51, 51, 51);
}

.searchForm i.v-icon.notranslate.mdi.mdi-menu-down {
  font-size: 20px !important;
}

.searchForm .v-text-field--outlined.v-input--dense .v-label {
  top: 5px;
}

.checkbox-return i.v-icon {
  font-size: 18px !important;
  background: white !important;
  width: 12px !important;
  height: 12px !important;
  margin-top: 6px !important;
  margin-left: 6px !important;
}
</style>
