<template>
  <div class="sidebar-box">
    <v-form class="searchForm">
      <v-row>
        <span class="sidebar-label">{{ $t("País") }}</span>
        <v-autocomplete
          color="#333"
          background-color="#fff"
          :items="countries"
          :item-text="item => $t(item.text)"
          item-value="value"
          outlined
          dense
          class="col-md-12 button-noradius pb-5"
          @input="setCity"
          v-model="country"
          hide-details
        ></v-autocomplete>

        <span class="sidebar-label">{{ $t("Ciudad") }}</span>
        <v-autocomplete
          color="#333"
          background-color="#fff"
          :items="selectedCities"
          item-text="name"
          item-value="name"
          outlined
          dense
          class="col-md-12 button-noradius pb-5"
          @input="setCheckboxReturnCity"
          :disabled="disabledCity == 1"
          v-model="city"
          hide-details
        ></v-autocomplete>

        <v-col
          md="12"
          cols="12"
          class="py-0 px-0"
          v-if="showReturnCityCheckbox"
        >
          <v-checkbox
            input-value="true"
            class="mt-0 pt-0 checkbox-return"
            style="margin-left: -5px !important;"
            color="#0075ff"
            @click="returnMotoChk"
            v-model="returnchk"
          >
            <template v-slot:label>
              <v-row>
                <v-col md="12" class="py-0" style="margin: -8px !important;">
                  <div class="form_extra_img complemServ col-xs-2 nopadding">
                    <i class="icon-plus-squared fa-3x" aria-hidden="true"></i>
                  </div>
                  <div
                    class="checkbox-label form_extra_name complemServ col-xs-5 nopadding pt-1"
                  >
                    {{ $t("Devolver la moto en la misma oficina") }}
                  </div>
                </v-col>
              </v-row>
            </template>
          </v-checkbox>
        </v-col>

        <v-col md="12" cols="12" class="p-0 pb-5" v-if="showReturnCity">
          <span class="sidebar-label">{{ $t("Devolver") }}</span>
          <v-autocomplete
            color="#333"
            background-color="#fff"
            :items="selectedReturnCities"
            item-text="text"
            item-value="text"
            outlined
            dense
            class="col-md-12 button-noradius"
            v-model="returncity"
            hide-details
          ></v-autocomplete>
        </v-col>

        <v-col cols="12" class="p-0">
          <span class="sidebar-label">{{ $t("Fecha de inicio:") }}</span>
        </v-col>
        <v-col cols="6" class="pt-0 pb-5 pl-0" sm="6" md="7">
          <v-menu
            v-model="menu1"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                class="button-noradius"
                color="#333"
                background-color="#fff"
                v-model="start"
                prepend-inner-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
                outlined
                dense
                hide-details
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="start"
              :min="startmin"
              @input="menu1 = false"
              no-title
              :first-day-of-week="$t('calendar-format')"
              color="#337ab7"
              show-adjacent-months
              :locale="$t('es-es')"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="6" class="pt-0 pb-5 pr-0" sm="6" md="5">
          <v-select
            class="button-noradius"
            color="#333"
            background-color="#fff"
            :items="hours"
            v-model="starthour"
            prepend-inner-icon="mdi-clock-outline"
            item-text="text"
            item-value="value"
            outlined
            dense
            hide-details
          ></v-select>
        </v-col>

        <v-col cols="12" class="p-0">
          <span class="sidebar-label">{{ $t("Fecha final:") }}</span>
        </v-col>
        <v-col cols="6" class="pt-0 pb-5 pl-0" sm="6" md="7">
          <v-menu
            v-model="menu2"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                class="button-noradius"
                color="#333"
                background-color="#fff"
                v-model="end"
                prepend-inner-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
                outlined
                dense
                hide-details
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="end"
              :min="start"
              @input="menu2 = false"
              no-title
              :first-day-of-week="$t('calendar-format')"
              color="#337ab7"
              show-adjacent-months
              :locale="$t('es-es')"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="6" class="pt-0 pb-5 pr-0" sm="6" md="5">
          <v-select
            class="text-right button-noradius"
            color="#333"
            background-color="#fff"
            :value="12"
            :items="hours"
            v-model="endhour"
            item-text="text"
            item-value="value"
            prepend-inner-icon="mdi-clock-outline"
            outlined
            dense
            hide-details
          ></v-select>
        </v-col>
        <v-col md="12" class="py-0 px-0">
          <v-btn
            block
            class="py-5 white--text button-noradius btn-submit-sidebar-box"
            color="#0b5f90"
            type="submit"
            @click.stop.prevent="submit()"
            >{{ $t("Buscar") }}</v-btn
          ></v-col
        >
      </v-row>
    </v-form>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "SideBar",
  data() {
    return {
      startmin: new Date().toISOString().substr(0, 10),
      selectedCities: [],
      returncities: [
        {
          text: "Barcelona",
          returncities: [
            {
              text: "Madrid",
              value: "Madrid"
            },
            {
              text: "Alicante",
              value: "Alicante"
            },
            {
              text: "Roma",
              value: "Roma"
            }
          ]
        },
        {
          text: "Madrid",
          returncities: [
            {
              text: "Barcelona",
              value: "Barcelona"
            },
            {
              text: "Málaga",
              value: "Málaga"
            },
            {
              text: "París",
              value: "París"
            }
          ]
        }
      ],

      hours: [
        {
          text: "8:00",
          value: "8"
        },
        {
          text: "9:00",
          value: "9"
        },
        {
          text: "10:00",
          value: "10"
        },
        {
          text: "11:00",
          value: "11"
        },
        {
          text: "12:00",
          value: "12"
        },
        {
          text: "13:00",
          value: "13"
        },
        {
          text: "14:00",
          value: "14"
        },
        {
          text: "15:00",
          value: "15"
        },
        {
          text: "16:00",
          value: "16"
        },
        {
          text: "17:00",
          value: "17"
        },
        {
          text: "18:00",
          value: "18"
        },
        {
          text: "19:00",
          value: "19"
        },
        {
          text: "20:00",
          value: "20"
        },
        {
          text: "21:00",
          value: "21"
        }
      ],
      disabledCity: 1,
      showReturnCityCheckbox: 0,
      showReturnCity: 0,
      start: new Date().toISOString().substr(0, 10),
      end: new Date().toISOString().substr(0, 10),
      menu1: false,
      menu2: false,
      country: null,
      city: null,
      returncity: null,
      returnchk: true,
      starthour: "9",
      endhour: "9",
      lang: null
    };
  },
  props: ["color"],
  methods: {
    ...mapActions(["setCountriesData", "setCitiesData"]),
    async getCountriesData() {
      var LRU = require("lru-cache");
      let options = { max: 0, maxAge: 1000 * 60 * 60 * 24 };
      let cache = new LRU(options);
      this.countries = this.getCountries;
      if (Object.keys(this.countries).length == 0) {
        if (cache.has("countries") != false) {
          this.countries = cache.get("countries");
        } else {
          await this.setCountriesData();
          this.countries = this.getCountries;
          cache.set("countries", this.countries);
        }
      }
    },
    async getCitiesData() {
      var LRU = require("lru-cache");
      let options = { max: 0, maxAge: 1000 * 60 * 60 * 24 };
      let cache = new LRU(options);
      this.cities = this.getCities;
      if (Object.keys(this.cities).length == 0) {
        if (cache.has("cities") != false) {
          this.countries = cache.get("cities");
        } else {
          await this.setCitiesData();
          this.cities = this.getCities;
          cache.set("cities", this.cities);
        }
      }
    },
    setCity(country) {
      this.getCities.forEach(value => {
        if (value.key == country) {
          this.disabledCity = 0;
          let rcy = [];
          let lastG;
          value.provinces.forEach(pro => {
            if (pro.group != lastG) {
              rcy.push({ header: pro.group });
            }
            rcy.push(pro);
            if (pro.group != lastG) {
              rcy.push({ divider: true });
            }
            lastG = pro.group;
          });
          this.selectedCities = rcy;
          this.city = value.provinces[0].name;
        }
      });
      this.showReturnCityCheckbox = 0;
      this.showReturnCity = 0;
      this.city = null;
      this.returncity = null;
      this.returnchk = true;
      this.selectedReturnCities = "";
      this.city = this.$route.query.city;
    },
    setCheckboxReturnCity(city) {
      var chk = 0;
      this.returncities.forEach(value => {
        if (value.text == city) {
          chk = 1;
          this.showReturnCityCheckbox = 1;
          this.returncity = null;
          this.selectedReturnCities = value.returncities;
        }
      });
      if (chk == 0) {
        this.showReturnCityCheckbox = 0;
        this.showReturnCity = 0;
        this.returncity = null;
        this.returnchk = true;
        this.selectedReturnCities = "";
      }
    },
    returnMotoChk() {
      if (this.returnchk === true) {
        this.showReturnCity = 0;
        this.returncity = null;
      } else {
        var chk = 0;
        this.returncities.forEach(value => {
          if (value.text == this.city) {
            chk = 1;
            this.showReturnCity = 1;
            this.selectedReturnCities = value.returncities;
          }
        });
        if (chk == 0) {
          this.showReturnCity = 0;
          this.selectedReturnCities = "";
        }
      }
    },
    submit() {
      if (
        this.country === null ||
        this.city === null ||
        (this.returncity === null &&
          this.returnchk === false &&
          this.showReturnCity === 1)
      ) {
        alert("Please choose your location");
      } else {
        if (this.$i18n.locale != "en") {
          this.lang = this.$i18n.locale;
        }
        var data = {
          country: this.country,
          city: this.city,
          start: this.start,
          starthour: this.starthour,
          end: this.end,
          endhour: this.endhour
        };
        if (this.returncity !== null) {
          data["city2"] = this.returncity;
        }
        this.$router
          .push({
            name: "SearchRent",
            query: data,
            params: {
              lang: this.lang
            }
          })
          .catch(failure => {
            console.log(failure);
          });
      }
    }
  },
  computed: {
    getCountries() {
      return this.$store.state.countries;
    },
    getCities() {
      return this.$store.state.cities;
    }
  },
  created() {
    if (this.$route.params.lang == undefined) {
      this.$i18n.locale = "en";
    } else {
      this.$i18n.locale = this.$route.params.lang;
      this.lang = this.$route.params.lang;
    }
    this.getCountriesData();
    this.getCitiesData().then(x => {
      if (this.$route.query) {
        this.start = this.$route.query.start;
        this.end = this.$route.query.end;
        this.country = this.$route.query.country;
        if (this.country != "") {
          this.disabledCity = 0;
          this.setCity(this.country);
        }
        this.starthour = this.$route.query.starthour;
        this.endhour = this.$route.query.endhour;

        if (this.city != "") {
          this.setCheckboxReturnCity(this.city);
        }

        this.returncity = this.$route.query.country2;

        if (this.returncity !== undefined) {
          this.returnchk = false;
        }

        this.returnMotoChk();
      }
      return x;
    });
  }
};
</script>

<style>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.travel-bgcolor {
  background: #337ab7;
}

.btn-submit-sidebar-box {
  color: #fff !important;
  font-size: 12px !important;
  background-color: #0b5f90 !important;
  box-shadow: none !important;
  font-weight: bold !important;
}

.sidebar-label {
  font-size: 10px;
  color: #333;
}

.checkbox-label {
  font-size: 10px;
  color: #333;
}

.checkbox-return i.v-icon {
  font-size: 18px !important;
  background: white !important;
  width: 12px !important;
  height: 12px !important;
  margin-top: 6px !important;
  margin-left: 6px !important;
}
</style>
