// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: "Helvetica, Arial, sans-serif";
$font-size-root: 12px;
$toolbar-content-padding-y: 0px !default;
@import "~vuetify/src/styles/styles.sass";
