<template>
  <v-app>
    <v-app-bar
      app
      color="#f7f7f7"
      class="px-0 px-15-md mx-auto white-bg"
      flat
      style="border-bottom: 3px solid #659a00; height: 60px; position: absolute;"
    >
      <v-row style="max-width: 1270px;height:100%" class="mx-sm-auto mx-n4">
        <v-app-bar-nav-icon
          class="d-flex d-md-none black--text menu-mobile pt-3 pt-sm-4 pr-2"
          @click.stop="changeDrawer({ chk: true })"
        ></v-app-bar-nav-icon>
        <router-link class="align-center px-0 pt-1 " :to="langUrl">
          <v-img
            alt="Vuetify Logo"
            class="shrink mr-2"
            contain
            src="/images/logo2x-new.png"
            transition="scale-transition"
            width="230"
            height="45"
          />
        </router-link>

        <v-navigation-drawer
          v-model="sidebarChk"
          class="d-md-none d-flex dark-bg v-navigation-menu-mobile"
          absolute
          app
          width="100%"
          style="overflow-y:scroll;"
          v-show="getDeviceType != 'pc'"
        >
          <v-list>
            <v-list-item-content
              class="pr-6 pt-0 pb-6"
              @click="changeDrawer({ chk: false })"
            >
              <v-icon
                color="#818181"
                style="justify-content:flex-end !important; "
                >mdi-close</v-icon
              >
            </v-list-item-content>

            <v-list-item class="dropdown-menu-mobile">
              <v-list-item-icon class="mx-3">
                <!-- <SideBar :color="color" /> -->
              </v-list-item-icon>
            </v-list-item>

            <v-list-item light class="mt-4 pb-0">
              <v-list-item-content class="ml-n1 pb-0 ">
                <v-expansion-panels accordion>
                  <v-expansion-panel>
                    <v-expansion-panel-header
                      class="font-weight-regular text-body-1 py-0 px-4 dropdown-menu-mobile-button"
                    >
                      <v-col cols="1" class="p-0 mr-1 ">
                        <span
                          class="flag-icon"
                          :class="'flag-icon-' + flag"
                        ></span>
                      </v-col>
                      {{ $t("langName") }}
                    </v-expansion-panel-header>
                    <v-expansion-panel-content class="expansion-content">
                      <v-list>
                        <v-list-item
                          v-for="entry in languages"
                          :key="entry.title"
                          dense
                          class="px-0"
                        >
                          <v-list-item-content
                            @click="changeLocale(entry.language)"
                            class="px-0"
                          >
                            <v-col cols="1" class="p-0 ml-4">
                              <span
                                class="flag-icon mr-1"
                                :class="'flag-icon-' + entry.flag"
                              ></span>
                            </v-col>
                            {{ entry.title }}
                          </v-list-item-content>
                        </v-list-item>
                      </v-list>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-list-item-content>
            </v-list-item>

            <v-list-item light class="mt-0 pt-0 mb-4">
              <v-list-item-content class="ml-n1 pt-1 pb-0">
                <v-expansion-panels accordion>
                  <v-expansion-panel>
                    <v-expansion-panel-header
                      class="font-weight-regular text-body-1 py-0 px-4 dropdown-menu-mobile-button"
                    >
                      {{ currentCurrency }}
                    </v-expansion-panel-header>
                    <v-expansion-panel-content class="expansion-content">
                      <v-list>
                        <v-list-item
                          v-for="currency in currencies"
                          :key="currency.text"
                          dense
                          class="px-0"
                        >
                          <v-list-item-content
                            @click="changeCurrency(currency.value)"
                            class="pl-4"
                          >
                            {{ currency.text }}</v-list-item-content
                          >
                        </v-list-item>
                      </v-list>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-list-item-content>
            </v-list-item>

            <v-list-item>
              <v-list-item-content class="ml-n1 mr-3">
                <router-link
                  class="pl-2 text-body-1 white--text"
                  :to="langUrl + 'user'"
                  >{{ $t("Mi Cuenta") }}</router-link
                >
              </v-list-item-content>
            </v-list-item>

            <v-list-item>
              <v-list-item-content class="ml-n1 mr-3">
                <router-link
                  class="pl-2 text-body-1 white--text"
                  :to="langUrl + 'contact'"
                  >{{ $t("Contacto") }}
                </router-link>
              </v-list-item-content>
            </v-list-item>

            <v-list-item>
              <v-list-item-content class="ml-n1 mr-3">
                <router-link
                  class="pl-2 text-body-1 white--text"
                  :to="langUrl + 'groups-reservations'"
                  >{{ $t("Grupos") }}</router-link
                >
              </v-list-item-content>
            </v-list-item>

            <v-list-item>
              <v-list-item-content class="ml-n1 mr-3">
                <router-link
                  class="pl-2 text-body-1 white--text"
                  :to="langUrl + 'help'"
                  >{{ $t("Ayuda") }}</router-link
                >
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>

        <v-spacer class="d-inline-block"></v-spacer>

        <div class="pt-3 d-none d-md-inline-block" @click="toMap()">
          <v-icon
            class="pr-5 d-none d-lg-inline-block"
            color="#555"
            style="cursor: pointer !important;"
            >mdi-earth</v-icon
          >
        </div>
        <div class="pt-4 d-none d-md-inline-block">
          <router-link
            class="mx-5 label-success white--text px-2 py-1 button-radius"
            to="/"
            >{{ $t("Rental") }}</router-link
          >
          <router-link
            class="mx-5 travel-bgcolor white--text px-2 py-1 button-radius text-no-wrap"
            to="/hometravel"
            >{{ $t("Viajes en moto") }}</router-link
          >
        </div>
        <router-link
          class="px-5 pt-4 topBar-text-color d-none d-sm-inline-block"
          :to="langUrl + 'groups-reservations'"
          >{{ $t("Grupos") }}</router-link
        >
        <router-link
          class="px-5 pt-4 topBar-text-color d-none d-sm-inline-block"
          :to="langUrl + 'contact'"
          >{{ $t("Contacto") }}
        </router-link>
        <router-link
          class="px-5 pt-4 topBar-text-color d-none d-md-inline-block"
          :to="langUrl + 'help'"
          >{{ $t("Ayuda") }}</router-link
        >

        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="text-capitalize mx-0 px-0 px-md-3 d-none d-sm-flex button-header"
              color="white"
              elevation="0"
              v-bind="attrs"
              v-on="on"
            >
              <span
                class="topBar-text-color d-none d-sm-inline-block fs-12 font-weight-regular"
                >{{ currentCurrency }}</span
              ><v-icon class="ml-n1 fs-20" color="#555">mdi-menu-down</v-icon>
            </v-btn>
          </template>
          <v-list class="dropdown-menu">
            <v-list-item
              v-for="currency in currencies"
              :key="currency.text"
              dense
              light
              color="#fff"
              class="px-3 text-body-2 dropdown-item"
              style="min-height: 25px !important"
            >
              <v-list-item-title
                class="fs-14 color-333"
                @click="changeCurrency(currency.value)"
              >
                {{ currency.text }}</v-list-item-title
              >
            </v-list-item>
          </v-list>
        </v-menu>

        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="text-capitalize mx-0 px-0 px-md-3 button-header button-language"
              color="white"
              elevation="0"
              v-bind="attrs"
              v-on="on"
            >
              <span class="fs-12 font-weight-regular"
                ><span
                  class="flag-icon mr-2"
                  :class="'flag-icon-' + flag"
                ></span
                ><span class="topBar-text-color d-none d-md-inline-block">{{
                  $t("langName")
                }}</span></span
              ><v-icon class="ml-n1 fs-20" color="#555">mdi-menu-down</v-icon>
            </v-btn>
          </template>
          <v-list class="dropdown-menu">
            <v-list-item
              class="dropdown-item"
              v-for="entry in languages"
              :key="entry.title"
              dense
              style="min-height: 25px !important"
            >
              <v-list-item-title
                class="fs-14 color-333"
                @click="changeLocale(entry.language)"
              >
                <span
                  class="flag-icon mr-1"
                  :class="'flag-icon-' + entry.flag"
                ></span>
                {{ entry.title }}</v-list-item-title
              >
            </v-list-item>
          </v-list>
        </v-menu>

        <v-menu bottom offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="white"
              :ripple="ripple"
              class="text-body-2 font-weight-medium text-capitalize button-header d-none d-sm-flex px-0 pl-md-3"
              elevation="0"
              v-bind="attrs"
              v-on="on"
            >
              <span class="fs-12 topBar-text-color">{{ $t("Mi cuenta") }}</span
              ><v-icon class="ml-n1 fs-20" color="#555">mdi-menu-down</v-icon>
            </v-btn>
          </template>

          <v-list class="dropdown-menu">
            <v-list-item dense style="min-height: 30px;">
              <v-list-item-title
                v-if="$root.$data.chktoken == false"
                class="text-body-2 black--text font-weight-medium text-capitalize pb-0 my-0"
              >
                <v-btn
                  class="font-weight-bold white--text text-capitalize fs-12 no-shadow "
                  @click="pushToProfile('registre')"
                  color="#669a00"
                  >{{ $t("Regístrate") }}</v-btn
                >
                <v-btn
                  class="font-weight-bold text-capitalize fs-12 no-shadow "
                  style="color:#669a00 !important"
                  @click="pushToProfile('login')"
                  >{{ $t("Identifícate") }}</v-btn
                >
              </v-list-item-title>
              <v-list-item-title
                v-else
                class="text-capitalize py-0 my-0 pl-2 fs-12"
              >
                <span class="color-555" @click="pushToProfile('profile')">{{
                  $t("Profile")
                }}</span>
              </v-list-item-title>
            </v-list-item>
            <v-list-item style="min-height: 30px;">
              <v-list-item-title class="text-capitalize py-0 my-0 pl-2 fs-12">
                <span class="color-555" @click="pushToProfile('orders')">{{
                  $t("Mis pedidos")
                }}</span>
              </v-list-item-title>
            </v-list-item>
            <v-list-item style="min-height: 30px;">
              <v-list-item-title class="text-capitalize py-0 my-0 pl-2 fs-12">
                <span class="color-555" @click="pushToProfile('requests')">{{
                  $t("Solicitudes")
                }}</span>
              </v-list-item-title>
            </v-list-item>
            <v-list-item style="min-height: 30px;">
              <v-list-item-title class="text-capitalize py-0 my-0 pl-2 fs-12">
                <span class="color-555" @click="pushToProfile('reviews')">{{
                  $t("Opiniones")
                }}</span>
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-row>
    </v-app-bar>
    <v-main>
      <router-view />
    </v-main>
    <v-footer padless class="black--text">
      <v-col md="12" class="rent-bgcolor white--text py-0 mb-3">
        <v-container class="footerContainer py-0">
          <v-col
            md="4"
            class="d-none d-md-inline-block float-left py-0 px-0 line-height-initial"
          >
            <a
              href="/es/"
              :title="
                $t(
                  'Alquiler de motos en todo el mundo, los más baratos ¡GARANTIZADO!'
                )
              "
            >
              <img
                src="https://www.rentalmotorbike.com/images/blank.gif"
                data-srcset="https://www.rentalmotorbike.com/images/site/logoFooterRMB4.png"
                alt="Rentalmotorbike - Alquiler de motos en todo el mundo, los más baratos ¡GARANTIZADO!"
                title="Rentalmotorbike - Alquiler de motos en todo el mundo, los más baratos ¡GARANTIZADO!"
                class="logo ls-is-cached lazyloaded"
                width="300"
                srcset="https://www.rentalmotorbike.com/images/site/logoFooterRMB4.png"
              />
            </a>
          </v-col>
          <v-col
            sm="6"
            md="4"
            class="mt-2 mb-2 mb-sm-0 mb-md-2 d-inline-block float-left py-0 px-4 newsletter-email"
          >
            <v-col
              md="12"
              class="text-center text-sm-left px-0 pt-2 pb-3 pb-sm-4 pb-md-5"
            >
              <h5>
                <b class="fs-14">{{ $t("Reciba nuestro boletín") }}</b>
              </h5>
            </v-col>
            <v-form class="newsletterForm">
              <v-row>
                <v-col cols="8" class="pb-0 pl-0 fs-12">
                  <v-text-field
                    class="button-noradius"
                    color="#333"
                    background-color="#fff"
                    v-model="email"
                    :label="$t('E-mail')"
                    outlined
                    dense
                    hide-details
                  ></v-text-field>
                </v-col>
                <v-col cols="3" class="px-0">
                  <v-btn
                    block
                    class="white--text button-noradius fs-12"
                    style="background-color:#006711; text-transform:capitalize; height: 30px !important; min-height: 30px !important; box-shadow: none !important;"
                  >
                    {{ $t("Enviar") }}
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-col>

          <v-col
            sm="6"
            md="4"
            class="d-inline-block float-left text-center pt-3 pt-md-5 pb-1 mt-sm-4 mt-md-0 px-sm-5 px-md-3"
          >
            {{
              $t(
                "Alquiler de motos en todo el mundo, los más baratos ¡GARANTIZADO!"
              )
            }}
          </v-col>
        </v-container>
      </v-col>

      <v-row>
        <v-container class="footerContainer">
          <v-row class="mt-2">
            <v-col sm="9" md="6" cols="12" class="p-0 mb-sm-1 mb-md-4">
              <v-row>
                <v-col sm="4" cols="12" class="px-4 pl-sm-8 px-md-3 pr-sm-2">
                  <v-row>
                    <v-col
                      cols="12"
                      class="text-body-1 font-weight-medium my-4 mt-md-0 color-333 px-0"
                      ><span class="fs-18">{{
                        $t("sobre Rentalmotorbike")
                      }}</span>
                    </v-col>
                    <ul class="footer-menu">
                      <li class="nopadding mb-1 mx-0">
                        <a href="/quienes-somos" :title="$t('Quienes somos')">
                          {{ $t("Quienes somos") }}
                        </a>
                      </li>
                      <li class="nopadding mb-1 mx-0">
                        <a href="/contacto" :title="$t('Contacto')">
                          {{ $t("Contacto") }}
                        </a>
                      </li>
                      <li class="nopadding mb-1 mx-0">
                        <a href="/adminh" :title="$t('Acceso afiliados')">
                          {{ $t("Acceso afiliados") }}
                        </a>
                      </li>
                      <li class="nopadding mb-1 mx-0">
                        <a href="/groups-reservations" :title="$t('Grupos')">
                          {{ $t("Grupos") }}
                        </a>
                      </li>
                    </ul>
                  </v-row>
                </v-col>

                <v-col sm="4" cols="12" class="px-4 px-md-2">
                  <v-row>
                    <v-col
                      cols="12"
                      class="text-body-1 font-weight-medium my-4 mt-md-0 color-333 px-0"
                      ><span class="fs-18">{{
                        $t("Términos y condiciones")
                      }}</span>
                    </v-col>
                    <ul class="footer-menu">
                      <li class="nopadding mb-1 mx-0">
                        <a href="/contrato" :title="$t('Contrato')">
                          {{ $t("Contrato") }}
                        </a>
                      </li>
                      <li class="nopadding mb-1 mx-0">
                        <a
                          href="/privacidad-seguridad"
                          :title="$t('Privacidad y seguridad')"
                        >
                          {{ $t("Privacidad y seguridad") }}
                        </a>
                      </li>
                      <li class="nopadding mb-1 mx-0">
                        <a href="/legal" :title="$t('Aviso legal')">
                          {{ $t("Aviso legal") }}
                        </a>
                      </li>
                      <li class="nopadding mb-1 mx-0">
                        <a href="/cookies" :title="$t('Aviso cookies')">
                          {{ $t("Aviso cookies") }}
                        </a>
                      </li>
                      <li class="nopadding mb-1 mx-0">
                        <a href="/ayuda" :title="$t('Preguntas frecuentes')">
                          {{ $t("Preguntas frecuentes") }}
                        </a>
                      </li>
                      <li class="nopadding mb-1 mx-0">
                        <a href="/pago-seguro" :title="$t('Pago seguro')">
                          {{ $t("Pago seguro") }}
                        </a>
                      </li>
                    </ul>
                  </v-row>
                </v-col>

                <v-col sm="4" cols="12" class="px-4 px-md-3 pl-sm-2">
                  <v-row>
                    <v-col
                      cols="12"
                      class="text-body-1 font-weight-medium my-4 mt-md-0 color-333 px-0"
                      ><span class="fs-18">{{ $t("Viaje seguro") }}</span>
                    </v-col>
                    <ul class="footer-menu">
                      <li class="nopadding mb-1 mx-0">
                        <a
                          href="/seguro-accidentes"
                          :title="$t('Seguro de accidentes')"
                        >
                          {{ $t("Seguro de accidentes") }}
                        </a>
                      </li>
                      <li class="nopadding mb-1 mx-0">
                        <a
                          href="/seguro-anulacion"
                          :title="$t('Seguro de anulación')"
                        >
                          {{ $t("Seguro de anulación") }}
                        </a>
                      </li>
                      <li class="nopadding mb-1 mx-0">
                        <a href="/seguro-danos" :title="$t('Seguro de daños')">
                          {{ $t("Seguro de daños") }}
                        </a>
                      </li>
                    </ul>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
            <v-col
              sm="3"
              md="2"
              cols="12"
              class="mt-12 mt-sm-5 p-0 mb-sm-6 mb-md-auto"
            >
              <v-row>
                <v-col cols="6" sm="12" class="pb-sm-1">
                  <v-row>
                    <v-col cols="6" class="pl-6 pr-0">
                      <v-img
                        class="ma-auto d-block footer-brand button-radius"
                        src="/images/icons/cc-visa-brands.svg"
                        height="32"
                        width="48"
                      ></v-img>
                    </v-col>
                    <v-col cols="6" class="pr-6 pl-0">
                      <v-img
                        class="ma-auto d-block footer-brand button-radius"
                        src="/images/icons/cc-mastercard-brands.svg"
                        height="32"
                        width="48"
                      ></v-img>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="6" sm="12" class="pt-sm-1">
                  <v-row>
                    <v-col cols="6" class="pl-6 pr-0">
                      <v-img
                        class="ma-auto d-block footer-brand button-radius"
                        src="/images/icons/cc-amex-brands.svg"
                        height="32"
                        width="48"
                      ></v-img>
                    </v-col>
                    <v-col cols="6" class="pr-6 pl-0">
                      <v-img
                        class="ma-auto d-block footer-brand button-radius"
                        src="/images/icons/cc-paypal-brands.svg"
                        height="32"
                        width="48"
                      ></v-img>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
            <v-col
              md="4"
              cols="12"
              class="mt-12 mt-sm-5 mt-md-3 p-0 mb-sm-6 ml-sm-2 ml-md-0"
            >
              <v-row>
                <v-col cols="12" sm="5" md="11">
                  <v-row class="footer-rrss">
                    <v-col cols="2" class="p-0">
                      <a
                        target="blank"
                        href="http://www.facebook.com/Rentalmotorbikecom"
                        title="Facebook Rentalmotorbike.com"
                        class="color-555 fs-24"
                        ><v-img
                          src="/images/icons/facebook-square-brands.svg"
                          height="30"
                          width="30"
                          class="ma-auto d-block"
                        ></v-img
                      ></a>
                    </v-col>

                    <v-col cols="2" class="p-0">
                      <a
                        target="blank"
                        href="https://twitter.com/rentalmotorbike"
                        title="Twitter Rentalmotorbike.com"
                        class="color-555 fs-24"
                        ><v-img
                          src="/images/icons/twitter-brands.svg"
                          height="30"
                          width="30"
                          class="ma-auto d-block"
                        ></v-img
                      ></a>
                    </v-col>

                    <v-col cols="2" class="p-0">
                      <a
                        target="blank"
                        href="https://www.instagram.com/rentalmotorbikecom/"
                        title="Instagram Rentalmotorbike.com/"
                        class="color-555 fs-24"
                        ><v-img
                          src="/images/icons/instagram-brands.svg"
                          height="30"
                          width="30"
                          class="ma-auto d-block"
                        ></v-img
                      ></a>
                    </v-col>

                    <v-col cols="2" class="p-0">
                      <a
                        target="blank"
                        href="https://www.youtube.com/user/Rentalmotorbike"
                        title="Youtube Rentalmotorbike.com"
                        class="color-555 fs-24"
                        ><v-img
                          src="/images/icons/youtube-brands.svg"
                          height="30"
                          width="30"
                          class="ma-auto d-block"
                        ></v-img
                      ></a>
                    </v-col>
                  </v-row>
                </v-col>

                <v-col
                  cols="12"
                  sm="6"
                  md="12"
                  class="mt-7 mt-sm-0 mb-7 mb-sm-0 py-0"
                >
                  <v-row class="footer-rrss">
                    <a
                      class="badge footer-ios ml-0 mr-1 text-center my-4"
                      href="https://apps.apple.com/es/app/rental-motor-bike/id1135031186?l=en"
                      title="IOS App Rentalmotorbike.com"
                    >
                      <v-img
                        src="/images/icons/apple-brands.svg"
                        height="25"
                        width="20"
                        class="badge__icon"
                      ></v-img>
                      <span
                        class="badge__text white--text"
                        style="display:inline-block"
                        >{{ $t("Descargar en la") }}<br /><span
                          class="badge__storename pt-1"
                          style="display:inline-block"
                          >App Store</span
                        ></span
                      >
                    </a>

                    <a
                      class="badge footer-android mr-0 ml-1 text-center my-4"
                      href="https://play.google.com/store/apps/details?id=com.rentalmotorbike.rentalmotorbike"
                      title="Android App Rentalmotorbike.com"
                    >
                      <v-img
                        src="/images/icons/google-play-brands.svg"
                        height="20"
                        width="20"
                        class="badge__icon"
                      ></v-img>
                      <span
                        class="badge__text white--text"
                        style="display:inline-block"
                        >{{ $t("Consíguelo en") }}<br /><span
                          class="badge__storename pt-1"
                          style="display:inline-block"
                          >Google Play</span
                        ></span
                      >
                    </a>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-row>

      <v-row class="footer-cities mt-7">
        <v-container class="footerContainer">
          <v-col
            md="12"
            class="row language-bottom ciudades footer-menu-cities px-4 pb-0"
          >
            <v-col md="3" class="d-none d-sm-flex pl-md-0 pr-0">
              <ul class="cities-bottom-list">
                <li>
                  <a
                    href="/es/alquiler-motos-barcelona"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Barcelona' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Barcelona" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-madrid"
                    :title="$t('Alquiler de motos en %s', { param1: 'Madrid' })"
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Madrid" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-malaga"
                    :title="$t('Alquiler de motos en %s', { param1: 'Málaga' })"
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Málaga" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-mallorca"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Mallorca' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Mallorca" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-fuerteventura"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Las Palmas' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Las Palmas" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/search/es/alquiler-motos-marbella"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Marbella' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Marbella" })
                    }}</a
                  >
                </li>
              </ul>
            </v-col>

            <v-col md="2" class="d-none d-sm-flex pl-0">
              <ul class="cities-bottom-list">
                <li>
                  <a
                    href="/es/alquiler-motos-tenerife"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Tenerife' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Tenerife" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-roma"
                    :title="$t('Alquiler de motos en %s', { param1: 'Roma' })"
                    >{{ $t("Alquiler de motos en %s", { param1: "Roma" }) }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-ile-de-france"
                    :title="$t('Alquiler de motos en %s', { param1: 'París' })"
                    >{{ $t("Alquiler de motos en %s", { param1: "París" }) }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-milano"
                    :title="$t('Alquiler de motos en %s', { param1: 'Milano' })"
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Milano" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-lisboa"
                    :title="$t('Alquiler de motos en %s', { param1: 'Lisboa' })"
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Lisboa" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-nevada"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Las Vegas' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Las Vegas" })
                    }}</a
                  >
                </li>
              </ul>
            </v-col>

            <v-col md="2" class="d-none d-sm-flex pl-0 pr-0">
              <ul class="cities-bottom-list">
                <li>
                  <a
                    href="/es/alquiler-motos-zagreb"
                    :title="$t('Alquiler de motos en %s', { param1: 'Zagreb' })"
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Zagreb" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-new-york"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Nueva York' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Nueva York" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/search/us/alquiler-motos-los+angeles+airport"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Los Angeles' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Los Angeles" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/search/us/alquiler-motos-chicago"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Chicago' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Chicago" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-sao-paulo"
                    :title="$t('Alquiler de motos en %s', { param1: 'Brasil' })"
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Brasil" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-marrakech"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Marrakech' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Marrakech" })
                    }}</a
                  >
                </li>
              </ul>
            </v-col>

            <v-col md="3" class="d-none d-sm-flex pr-0">
              <ul class="cities-bottom-list">
                <li>
                  <a
                    href="/es/alquiler-motos-florida"
                    :title="$t('Alquiler de motos en %s', { param1: 'Miami' })"
                    >{{ $t("Alquiler de motos en %s", { param1: "Miami" }) }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/search/it/alquiler-motos-acireale"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Acireale' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Acireale" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-sardegna"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Cerdeña' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Cerdeña" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-formentera"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Formentera' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Formentera" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-ibiza"
                    :title="$t('Alquiler de motos en %s', { param1: 'Ibiza' })"
                    >{{ $t("Alquiler de motos en %s", { param1: "Ibiza" }) }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-menorca"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Menorca' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Menorca" })
                    }}</a
                  >
                </li>
              </ul>
            </v-col>

            <v-col md="2" class="d-none d-md-flex pl-0 pr-0">
              <ul class="cities-bottom-list">
                <li>
                  <a
                    href="/es/alquiler-motos-corse"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Corcega' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Corcega" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-cyclades"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Santorini' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Santorini" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-new-south-wales"
                    :title="$t('Alquiler de motos en %s', { param1: 'Sydney' })"
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Sydney" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-gauteng"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Johannesburg' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Johannesburg" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-tokyo"
                    :title="$t('Alquiler de motos en %s', { param1: 'Tokio' })"
                    >{{ $t("Alquiler de motos en %s", { param1: "Tokio" }) }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/alquiler-motos-bangkok"
                    :title="
                      $t('Alquiler de motos en %s', { param1: 'Bangkog' })
                    "
                    >{{
                      $t("Alquiler de motos en %s", { param1: "Bangkog" })
                    }}</a
                  >
                </li>
              </ul>
            </v-col>
          </v-col>

          <v-col
            md="12"
            class="row language-bottom ciudades footer-menu-cities mt-0 pt-0 px-4 mb-0"
          >
            <v-col md="3" class="d-none d-sm-flex pl-md-0 pr-0">
              <ul class="cities-bottom-list">
                <li>
                  <a
                    href="/es/viaje-en-moto-en-africa"
                    :title="$t('Viajes en moto en %s', { param1: 'África' })"
                    >{{ $t("Viajes en moto en %s", { param1: "África" }) }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/viajes/viaje-en-moto-enduro-albania"
                    :title="$t('Viajes en moto en %s', { param1: 'Albania' })"
                    >{{ $t("Viajes en moto en %s", { param1: "Albania" }) }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/viajes/viaje-en-moto-trail-patagonia-chilena-de-osorno-a-punta-arenas"
                    :title="$t('Viajes en moto en %s', { param1: 'Chile' })"
                    >{{ $t("Viajes en moto en %s", { param1: "Chile" }) }}</a
                  >
                </li>
              </ul>
            </v-col>

            <v-col md="2" class="d-none d-sm-flex pl-0">
              <ul class="cities-bottom-list">
                <li>
                  <a
                    href="/es/viaje-en-moto-en-norteamerica"
                    :title="
                      $t('Viajes en moto en %s', { param1: 'North America' })
                    "
                    >{{
                      $t("Viajes en moto en %s", { param1: "North America" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/viajes/viaje-en-moto-rumania-enduro-corto"
                    :title="$t('Viajes en moto en %s', { param1: 'Rumania' })"
                    >{{ $t("Viajes en moto en %s", { param1: "Rumania" }) }}</a
                  >
                </li>
              </ul>
            </v-col>

            <v-col md="2" class="d-none d-sm-flex pl-0 pr-0">
              <ul class="cities-bottom-list">
                <li>
                  <a
                    href="/es/viaje-en-moto-en-sudamerica"
                    :title="
                      $t('Viajes en moto en %s', { param1: 'Suramérica' })
                    "
                    >{{
                      $t("Viajes en moto en %s", { param1: "Suramérica" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/viajes/viaje-en-moto-usa-ruta-66-harley-con-guia-en-ingles-o-espanol"
                    :title="$t('Viajes en moto en %s', { param1: 'Ruta 66' })"
                    >{{ $t("Viajes en moto en %s", { param1: "Ruta 66" }) }}</a
                  >
                </li>
              </ul>
            </v-col>

            <v-col md="3" class="d-none d-sm-flex pr-0">
              <ul class="cities-bottom-list">
                <li>
                  <a
                    href="/es/viaje-en-moto-en-asia"
                    :title="
                      $t('Viajes en moto en %s', { param1: 'Asia y Pacífico' })
                    "
                    >{{
                      $t("Viajes en moto en %s", { param1: "Asia y Pacífico" })
                    }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/viajes/viaje-en-moto-enduro-marruecos-atlas-y-sahara-ktm"
                    :title="$t('Viajes en moto en %s', { param1: 'Marruecos' })"
                    >{{
                      $t("Viajes en moto en %s", { param1: "Marruecos" })
                    }}</a
                  >
                </li>
              </ul>
            </v-col>

            <v-col md="2" class="d-none d-md-flex pl-0 pr-0">
              <ul class="cities-bottom-list">
                <li>
                  <a
                    href="/es/viaje-en-moto-en-europa"
                    :title="$t('Viajes en moto en %s', { param1: 'Europe' })"
                    >{{ $t("Viajes en moto en %s", { param1: "Europe" }) }}</a
                  >
                </li>
                <li>
                  <a
                    href="/es/viajes/viaje-en-moto-isla-de-man-tt-2021-ever-tt-camping-ferry-bilbao---portsmouth-opcional"
                    :title="
                      $t('Viajes en moto en %s', { param1: 'Isla de Man' })
                    "
                    >{{
                      $t("Viajes en moto en %s", { param1: "Isla de Man" })
                    }}</a
                  >
                </li>
              </ul>
            </v-col>
          </v-col>
          <v-col
            md="12"
            class="language-bottom languageCss text-center pt-10 pt-sm-0"
          >
            <b>Rentalmotorbike: </b>
            <a class="link" href="/" title="Rentalmotorbike English">English</a>
            |
            <a class="link" href="/es/" title="Rentalmotorbike Español"
              >Español</a
            >
            |
            <a class="link" href="/fr/" title="Rentalmotorbike Français"
              >Français</a
            >
            |
            <a class="link" href="/de/" title="Rentalmotorbike Deutsch"
              >Deutsch</a
            >
            |
            <a class="link" href="/it/" title="Rentalmotorbike Italiano"
              >Italiano</a
            >
            |
            <a class="link" href="/ca/" title="Rentalmotorbike Català"
              >Català</a
            >
            |
            <a class="link" href="/pt/" title="Rentalmotorbike Portugès"
              >Portugès</a
            >
            |
            <a class="link" href="/dk/" title="Rentalmotorbike Dansk">Dansk</a>
            |
            <a class="link" href="/sv/" title="Rentalmotorbike Svenska"
              >Svenska</a
            >
            |
            <a class="link" href="/nl/" title="Rentalmotorbike Dutch">Dutch</a>
            |
            <a class="link" href="/no/" title="Rentalmotorbike Norsk">Norsk</a>
            |
            <a class="link" href="/ru/" title="Rentalmotorbike русский"
              >русский</a
            >
            |
            <a class="link" href="/ar/" title="Rentalmotorbike العربية"
              >العربية</a
            >
            |
            <a class="link" href="/he/" title="Rentalmotorbike עברית">עברית</a>
            |
            <a class="link" href="/zh/" title="Rentalmotorbike 日本の"
              >日本語</a
            >
            |
            <a class="link" href="/ja/" title="Rentalmotorbike 中国的">中文</a>
          </v-col>

          <v-col
            md="12"
            class="language-bottom"
            id="datos_empresa"
            itemscope=""
            itemtype="http://data-vocabulary.org/Organization"
          >
            <div class="footer-menu text-center hover-style-one pb-2">
              <span itemprop="name">Rentalmotorbike</span>
              Tlf: <span itemprop="tel">+34 910 052 345</span>
            </div>
          </v-col>
        </v-container>
      </v-row>
      <!-- FOOTER RENTAL -->
    </v-footer>

    <v-col
      v-show="acceptedCookies === false"
      md="12"
      class="footer-cookies d-block d-md-flex px-0"
    >
      <v-col cols="12" md="9" class="fs-10 p-0 px-4 cookies-text">
        {{
          $t(
            "Este sitio web utiliza cookies, tanto propias como de terceros, para recopilar información estadística sobre su navegación y mostrarle publicidad relacionada con sus preferencias, generada a partir de sus pautas de navegación. Si continúa navegando, consideramos que acepta su uso"
          )
        }}
      </v-col>

      <v-col cols="12" md="3" class="d-flex px-0 pb-0">
        <v-col cols="6" md="8" class="p-0">
          <a
            class="rent-bgcolor white--text pr-2 pl-2 pt-1 pb-1"
            href="/cookies"
            target="_blank"
            :title="$t('más información')"
            >{{ $t("más información") }}</a
          >
        </v-col>
        <v-col cols="6" md="4" class="p-0" @click="tst()">
          <a
            class="rent-bgcolor white--text pr-2 pl-2 pt-1 pb-1"
            :title="$t('Cerrar')"
            >{{ $t("Cerrar") }}</a
          >
        </v-col>
      </v-col>
    </v-col>
  </v-app>
</template>

<script>
/* import SideBar from "@/components/SideBar.vue"; */
import axios from "axios";
import { mapActions } from "vuex";
export default {
  name: "App",
  data() {
    return {
      ripple: false,
      color: "#0b5f90",
      myemail: null,
      mybknumber: null,
      flag: null,
      languages: [
        { language: "en", flag: "gb", title: "English" },
        { language: "es", flag: "es", title: "Español" },
        { language: "fr", flag: "fr", title: "Français" },
        { language: "de", flag: "de", title: "Deutsch" },
        { language: "it", flag: "it", title: "Italiano" },
        { language: "ca", flag: "ca", title: "Català" },
        { language: "pt", flag: "pt", title: "Portugès" },
        { language: "dk", flag: "dk", title: "Dansk" },
        { language: "sv", flag: "sv", title: "Svenska" },
        { language: "nl", flag: "nl", title: "Dutch" },
        { language: "no", flag: "no", title: "Norsk" },
        { language: "ru", flag: "ru", title: "русский" },
        { language: "ar", flag: "ar", title: "العربية" },
        { language: "he", flag: "il", title: "עברית" },
        { language: "ja", flag: "jp", title: "日本語" },
        { language: "zh", flag: "cn", title: "简体中文" }
      ],
      currentCurrency: "$ Dollar",
      currencies: [
        { text: "$ Dollar", value: "en-US" },
        { text: "€ Euro", value: "es-ES" },
        { text: "A$ Dollar AUS", value: "en-AU" },
        { text: "£ Pound", value: "en-EN" },
        { text: "¥ Yen", value: "ja-JP" },
        { text: "AR$ Peso ARG", value: "es-AR" },
        { text: "R$ Real BRL", value: "pt-BR" },
        { text: "Fr Swiss Franc", value: "de-CH" }
      ],
      langUrl: "/",
      email: null
    };
  },
  components: {
    /* SideBar */
  },
  methods: {
    ...mapActions([
      "setCurrencyData",
      "currencyChange",
      "changeDrawer",
      "changeLocaleVuex"
    ]),
    pushToProfile(code) {
      if (this.$route.params.code != code) {
        console.log(code);
        this.$router
          .push({
            name: "User",
            params: {
              lang: this.lang,
              code: code
            }
          })
          .catch(failure => {
            console.log(failure);
          });
      }
    },
    toMap() {
      this.$router
        .push({
          name: "Map",
          params: {
            lang: this.lang
          }
        })
        .catch(failure => {
          console.log(failure);
        });
    },
    tst() {
      console.log(this.currentCurrency);
      console.log(this.getCurrency);
    },
    async changeLocale(locale, redirect = true) {
      if (this.getLocale != locale) {
        let actualLocale;
        if (locale != "en" && locale != undefined) {
          actualLocale = locale;
          this.langUrl = "/" + locale + "/";
        } else {
          actualLocale = "en";
          this.langUrl = "/";
        }
        this.languages.forEach(element => {
          if (element.language == actualLocale) {
            this.flag = element.flag;
          }
        });
        await this.changeLocaleVuex({ locale: actualLocale });
      }
      if (this.$i18n.locale == locale) {
        redirect = false;
      }
      this.$i18n.locale = locale;
      if (redirect == true) {
        let params = {};
        if (locale != "en") {
          params = { lang: locale };
        }
        this.$router
          .replace({
            name: this.$router.currentRoute.name,
            query: this.$route.query,
            params: params
          })
          .catch(failure => {
            console.log(failure);
          });
      }
    },
    async changeCurrency(currency) {
      var currencyVuex = this.getCurrency;
      var locale = this.getLocale;
      if (currency == null || currency == "") {
        if (currencyVuex == null) {
          let languageBox = await this.getLanguageBox;
          currency = languageBox[locale]["currency"];
          this.currencyChange({ currency: currency });
        } else {
          currency = this.getCurrency;
        }
      } else {
        if (currencyVuex != currency) {
          this.currencyChange({ currency: currency });
        }
      }
      this.currencies.forEach(element => {
        if (element.value == currency) {
          this.currentCurrency = element.text;
        }
      });
    },
    /* acceptCookies() {
      this.$root.$data.acceptedCookies = true
      //Creamos la sesion cookies una vez se ha aceptado
      this.$session.set('cookies', true)
    }, */
    async getCountiesData() {
      if (this.$root.$data.countries.length == 0) {
        await axios.post("/api/countries").then(response => {
          let locations = response.data.data;
          locations.sort((a, b) => (a.text > b.text ? 1 : -1));
          this.$root.$data.countries = locations;
        });
      }
    },
    async getCitiesData() {
      if (this.$root.$data.cities.length == 0) {
        await axios.post("/api/cities").then(response => {
          this.$root.$data.cities = response.data.data;
          SideBar.methods.setCity(this.$route.query.country);
        });
      }
    }
  },
  computed: {
    getCurrency() {
      return this.$store.state.currency;
    },
    getLanguageBox() {
      return this.$store.state.languageBox;
    },
    getLocale() {
      return this.$store.state.locale;
    },
    getDeviceType() {
      return this.$store.state.deviceType;
    },
    sidebarChk: {
      // getter
      get: function() {
        return this.$store.state.drawer;
      },
      // setter
      set: function() {}
    },
    acceptedCookies() {
      return this.$store.state.acceptedCookies;
    }
  },
  async created() {
    await this.setCurrencyData();

    await this.changeLocale(this.$route.params.lang, false);
    await this.changeCurrency("");
    //Miramos si existe la sesion, si no la inicializamos (es necesario)
    /*     var LRU = require("lru-cache")
    let options = { max: 0, maxAge: 1000 * 60 * 60 * 24 }
    let cache = new LRU(options)
     */

    /* if (this.$session.exists() !== false) {
      this.$session.start()
    } */

    //Miramos si ya existe la sesion cookies
    /* if (this.$session.has('cookies') === true) {
      //En caso afirmativo igualamos la variable acceptedCookies con la sesion cookies para mantener el valor una vez se refresque
      this.$root.$data.acceptedCookies = this.$session.get('cookies')
    } */
    //this.getCountiesData()
    // this.getCitiesData()
  },
  mounted() {}
};
</script>
<style scoped>
.v-application {
  overflow-x: hidden;
  /* font-family: Helvetica, Arial, sans-serif !important; */
  letter-spacing: normal !important;
}

.v-list-item__title {
  font-family: Helvetica, Arial, sans-serif !important;
  letter-spacing: normal !important;
}

.v-btn__content {
  font-family: Helvetica, Arial, sans-serif !important;
  letter-spacing: normal !important;
}

.v-btn {
  letter-spacing: 0px;
  height: 38px !important;
}

.v-application {
  line-height: 24px;
}

.v-application .text-body-1 {
  font-family: Helvetica, Arial, sans-serif !important;
  letter-spacing: normal !important;
}

.v-application .text-h1 {
  font-family: Helvetica, Arial, sans-serif !important;
  letter-spacing: normal !important;
  line-height: 1.1 !important;
}

.v-application .text-h2 {
  font-family: Helvetica, Arial, sans-serif !important;
  letter-spacing: normal !important;
  line-height: 1.1 !important;
}

.v-application .text-h3 {
  font-family: Helvetica, Arial, sans-serif !important;
  letter-spacing: normal !important;
  line-height: 1.1 !important;
}

.v-application .text-h4 {
  font-family: Helvetica, Arial, sans-serif !important;
  letter-spacing: normal !important;
  line-height: 1.1 !important;
}

.v-application .text-h5 {
  font-family: Helvetica, Arial, sans-serif !important;
  letter-spacing: normal !important;
  line-height: 1.1 !important;
}

.v-application .text-h6 {
  font-family: Helvetica, Arial, sans-serif !important;
  letter-spacing: normal !important;
  line-height: 1.1 !important;
}

.v-application .text-body-2 {
  font-family: Helvetica, Arial, sans-serif !important;
  letter-spacing: normal !important;
  line-height: 24px !important;
}

.v-application.v-application--is-ltr.theme--light {
  overflow-y: hidden;
}

.rent-color {
  color: #669a00;
}
.rent-bgcolor {
  background: #669a00 !important;
}
.bgcolor-333 {
  background: #333 !important;
}
a {
  text-decoration: none;
}
.travel-bgcolor {
  background: #337ab7;
}
.topBar-text-color {
  color: #555 !important;
}
.v-main {
  background-color: #f7f7f7 !important;
}
.white-bg {
  background-color: white !important;
}
.dark-bg {
  background-color: #333 !important;
}

.uppercase {
  text-transform: uppercase;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

body {
  margin: 0 !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: normal !important;
  line-height: 24px !important;
  background-color: #f7f7f7 !important;
}

.fs-8 {
  font-size: 8px !important;
}
.fs-10 {
  font-size: 10px !important;
}
.fs-11 {
  font-size: 11px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-13 {
  font-size: 13px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-30 {
  font-size: 30px !important;
}
.fs-50 {
  font-size: 50px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 18px;
  font-family: inherit;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

.v-tab {
  font-size: 12px !important;
}

.v-card__text {
  font-size: 12px !important;
}

.v-card__title {
  font-size: 14px !important;
}

.v-text-field__slot {
  font-size: 14px !important;
}

.v-label {
  font-size: 14px !important;
}

p {
  color: #333;
  margin-bottom: 15px;
  margin: 0 0 10px;
}

.p-absolute {
  position: absolute;
}

.p-0 {
  padding: 0px !important;
}

.overflow-h {
  overflow: hidden;
}
.p-relative {
  position: relative;
}

.nopadding {
  padding: 0px !important;
}

.footer-menu a {
  text-decoration: none !important;
  color: #555 !important;
  cursor: pointer !important;
}

.cities-bottom-list a {
  text-decoration: none !important;
  color: #555 !important;
  cursor: pointer !important;
}

.language-bottom a {
  text-decoration: none !important;
  color: #555 !important;
  cursor: pointer !important;
}

.footer-menu li {
  width: 100%;
}

.language-bottom li {
  margin-bottom: 4px;
  width: 100%;
}

.badge {
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ddd;
  padding: 4px 8px;
  margin: 5px auto;
  border-radius: 4px;
  color: #fff;
  fill: #fff;
  background: #333;
  line-height: 1em;
  min-width: 140px;
  height: 40px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  -webkit-tap-highlight-color: transparent;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "San Francisco",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}

.badge:focus,
.badge:hover {
  background: #3c4f57;
  color: #fff;
  fill: #fff;
  border-color: #fff;
  -webkit-transform: scale(1.01) translate3d(0, -1px, 0);
  transform: scale(1.01) translate3d(0, -1px, 0);
  -webkit-box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.v-image.v-responsive.theme--light {
  display: inline-block;
  margin: 0 10px 0 0;
}

.badge__text {
  letter-spacing: 0.08em;
  margin-top: -0.1em;
  font-size: 10px;
}
.badge__icon,
.badge__storename,
.badge__text {
  display: inline-block;
  vertical-align: top;
}

.badge__storename {
  font-size: 16px;
  letter-spacing: -0.03em;
}

.footer-cities {
  background-color: #ccc;
}

.container--fluid {
  max-width: 100% !important;
}

.currencyChangeClass .v-expansion-panel::before {
  box-shadow: none !important;
}
.currencyChangeClass .v-expansion-panel-header {
  min-height: 24px !important;
}
.currencyChangeClass .v-list-item {
  height: 26px !important;
  min-height: 26px !important;
}
.currencyChangeClass .v-expansion-panel-content__wrap {
  padding-left: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.currencyChangeClass .v-expansion-panel-header__icon {
  margin-left: 0px !important;
}

.v-btn:focus:before {
  background-color: #fff;
}
.v-ripple__container {
  display: none !important;
}

.footer-cookies {
  color: white !important;
  background-color: #333 !important;
  text-align: center !important;
  position: fixed !important;
  display: block;
  bottom: 0;
  z-index: 1000;
}

.v-input__icon--append {
  padding-right: 10px !important;
}

.v-sheet.v-card {
  border-radius: 0px !important;
}

.button-radius {
  border-radius: 4px;
}

.button-noradius {
  border-radius: 0px !important;
}

.button-header {
  margin-top: 9px;
}

.cities-bottom-list li {
  margin: 0px !important;
}

.v-navigation-menu-mobile {
  width: 50% !important;
}

@media (max-width: 1024px) {
  button.v-app-bar__nav-icon.menu-mobile {
    width: 20px !important;
  }

  i.mdi-menu {
    font-size: 15px !important;
  }
}

@media (max-width: 767px) {
  .cookies-text {
    line-height: 24px;
  }

  .footer-rrss {
    align-items: center;
    justify-content: center;
  }

  button.v-app-bar__nav-icon.menu-mobile {
    width: 40px !important;
  }

  i.mdi-menu {
    font-size: 18px !important;
  }

  .button-language {
    position: absolute;
    right: 0;
    min-width: 0px !important;
  }

  .v-navigation-menu-mobile {
    width: 100% !important;
  }
}

.footer-brand {
  float: left;
}

.footer-ios {
  float: left;
}

.footer-android {
  float: left;
}

.label-success {
  background-color: #5cb85c;
}

@media (min-width: 1025px) {
  .container {
    max-width: 1435px !important;
    position: relative;
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media (min-width: 768px) {
  .newsletter-email {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #fff;
  }

  .footer-rrss {
    margin: auto;
  }
}

.dropdown-menu {
  display: block;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.dropdown-item {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal !important;
  line-height: 1.42857143;
  color: #333 !important;
  white-space: nowrap;
  font-size: 20px !important;
}

.menuable__content__active {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.color-555 {
  color: #555 !important;
}

.color-333 {
  color: #333 !important;
}

.color-000 {
  color: #000 !important;
}

.color-ccc {
  color: #ccc !important;
}

.text-body-1.fs-14 {
  font-size: 14px !important;
}

.theme--light.v-card {
  color: #000 !important;
}

.width100 {
  width: 100% !important;
}

.height100 {
  height: 100% !important;
}

.text-h6.fs-18 {
  font-size: 18px !important;
}

.v-select.v-input--dense .v-select__selection--comma {
  margin: 5px 0 3px 0 !important;
}

.bo-lr-1-fff {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #fff;
}

label.v-label.theme--light {
  font-size: 12px !important;
}

.footerContainer {
  max-width: 1515px !important;
}

.footerContainer .row {
  margin-left: 0px;
  margin-right: 0px;
}

legend {
  width: 0px !important;
}

label.v-label.v-label--active.theme--light {
  display: none;
}

.newsletterForm .v-list-item {
  height: 30px !important;
  min-height: 30px !important;
}
.newsletterForm .v-input__control .v-input__slot {
  height: 30px !important;
  min-height: 30px !important;
}
.newsletterForm .searchDateClass .v-input__control .v-input__slot {
  padding-left: 5px !important;
}
.v-input {
  font-size: 14px !important;
}
.newsletterForm .v-input__prepend-inner .v-input__icon {
  height: 14px;
}
.newsletterForm .v-input__append-inner .v-input__icon {
  height: 14px;
}
.newsletterForm .v-input__prepend-inner .v-icon.v-icon {
  font-size: 18px !important;
}
.newsletterForm .v-text-field--outlined.v-input--dense .v-label {
  top: 5px;
}

.line-height-initial {
  line-height: initial !important;
}

.line-height-0 {
  line-height: 0px !important;
}

.dropdown-menu-mobile .sidebar-label {
  font-size: 14px;
  color: white;
}

.dropdown-menu-mobile .checkbox-label {
  font-size: 12px;
  color: white;
}

.dropdown-menu-mobile-button {
  height: 40px !important;
  min-height: 40px !important;
}

.dropdown-menu-mobile-button .v-expansion-panel-header__icon {
  margin: 0;
}

.mdi-chevron-down {
  color: #333 !important;
}

.mdi-menu-down {
  color: #333 !important;
}

.expansion-content .v-expansion-panel-content__wrap {
  padding: 0px;
}

.expansion-content .v-list-item {
  position: relative;
  display: block;
  padding: 10px 5px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.expansion-content .v-list {
  padding: 0px !important;
}

.v-text-field.v-input--has-state
  .v-input__control
  > .v-text-field__details
  > .v-counter,
.v-text-field.v-input--is-disabled
  .v-input__control
  > .v-text-field__details
  > .v-counter,
.v-text-field.v-input--is-disabled
  .v-input__control
  > .v-text-field__details
  > .v-messages,
.v-text-field .v-input__control,
.v-text-field fieldset {
  color: #ccc !important;
}

.v-navigation-menu-mobile {
  padding: 0px;
}

.line-height-1 {
  line-height: 1.1 !important;
}

.line-height-1-5 {
  line-height: 1.5 !important;
}

.bg-reviews {
  background-color: #f0efee !important;
}

.v-picker__title.primary {
  display: none;
}

.v-date-picker-header {
  font-size: 14px;
}

.v-date-picker-table.v-date-picker-table--date {
  line-height: 14px;
}

.v-picker.v-card.v-picker--date .v-icon {
  color: #000;
}

.v-date-picker-table.v-date-picker-table--date.theme--light table {
  border-spacing: 0px !important;
}

.theme--light.v-date-picker-table .v-date-picker-table--date__week,
.theme--light.v-date-picker-table th {
  color: #000;
  font-size: 14px;
  padding: 0px;
}

.v-picker.v-card.v-picker--date .v-btn__content {
  font-size: 14px;
}

.v-picker.v-card.v-picker--date .v-btn--rounded {
  border-radius: 4px !important;
}

.calendar-vue {
  margin-left: -41px !important;
}

.v-picker .v-btn--text.v-btn--rounded.v-btn--disabled {
  text-decoration: line-through;
}

.no-shadow {
  box-shadow: none;
}

.button-header:before {
  background-color: white;
}

.v-overlay__scrim {
  background-color: white !important;
  opacity: 0 !important;
}

.mdi-close::before {
  font-weight: bold;
}

i.v-icon.notranslate.v-icon--dense.mdi.mdi-checkbox-blank-outline.theme--light {
  background-color: white;
  width: 12px;
  height: 12px;
  margin: 6px;
}

i.v-icon.notranslate.v-icon--dense.mdi.mdi-checkbox-marked.theme--light {
  background-color: white;
  width: 12px;
  height: 12px;
  margin: 6px;
}

/*SEARCHRENT*/
.pointerClass:hover {
  cursor: pointer;
}
.searchRentContainer {
  max-width: 1435px !important;
  background: "#f7f7f7" !important;
}
.motocycleBlock {
  box-shadow: 1px 0px 10px 0px #ccc;
  background: #fff;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-danger {
  background-color: #f2dede !important;
  border-color: #ebccd1 !important;
  color: #a94442 !important;
}
.alert-success {
  background-color: #dff0d8 !important;
  border-color: #d6e9c6 !important;
  color: #3c763d !important;
}

.v-application--is-ltr .topFilter .v-input--selection-controls__input {
  margin-right: 0px !important;
}
.v-input--selection-controls {
  margin-top: 0px !important;
}

.checkbox-topfilter i.v-icon {
  font-size: 14px !important;
  background: white !important;
  width: 12px !important;
  height: 12px !important;
  margin-top: 6px !important;
  margin-left: 10px !important;
  color: #337ab7 !important;
}
.topFilter label.v-label.theme--light {
  color: #337ab7 !important;
}

.searchrent-box {
  line-height: 1.2rem !important;
  max-width: 100% !important;
}

.mapButtonBlock2 {
  height: 40% !important;
  background-color: rgba(255, 255, 255, 0.65) !important;
  color: #337ab7 !important;
  line-height: 19px !important;
  width: 100%;
  min-width: 53px !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.searchProductPrice-Final {
  margin-top: 35px;
  margin-bottom: 65px;
}

.searchProductInfo-Button {
  cursor: pointer;
}

.pagination-searchrent li {
  padding: 0px !important;
  margin: 0px !important;
}

.pagination-searchrent button {
  padding: 0px !important;
  margin: 0px !important;
  height: 46px !important;
  width: 44px !important;
  box-shadow: 0px 0px !important;
  color: #337ab7 !important;
  background-color: #fff !important;
  border: solid 1px #ddd !important;
  border-radius: 0px !important;
  font-size: 18px !important;
  margin-left: -1px !important;
}

.pagination-searchrent button:hover,
.pagination-searchrent button:focus {
  z-index: 2 !important;
  color: #23527c !important;
  background-color: #eee !important;
  border-color: #ddd !important;
}

.pagination-searchrent li:nth-of-type(1) button.v-pagination__navigation {
  border-bottom-left-radius: 6px !important;
  border-top-left-radius: 6px !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.pagination-searchrent .v-pagination__navigation {
  border-bottom-right-radius: 6px !important;
  border-top-right-radius: 6px !important;
}

.pagination-searchrent .mdi-chevron-left {
  color: #337ab7 !important;
}

.pagination-searchrent .mdi-chevron-right {
  color: #337ab7 !important;
}

.pagination-searchrent
  button.v-pagination__item.v-pagination__item--active.primary {
  color: #777 !important;
  background-color: #fff !important;
  border: solid 1px #ddd !important;
  cursor: not-allowed;
  display: block !important;
}

.searchPriceValue {
  color: #aa1c58;
}

.bg-special-price {
  background-color: #aa1c58;
}

.container.searchRentContainer {
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .searchProductPrice-Final {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .searchProductInfo-Button {
    position: relative;
    bottom: auto;
  }

  .pagination-searchrent button.v-pagination__item {
    display: none !important;
  }
}

.extrainfosearch {
  height: 246px;
  overflow-y: auto;
}

.mobile-buttons-filters {
  justify-content: center;
  position: fixed;
  z-index: 50;
  opacity: 1;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
  user-select: none;
  text-align: center;
  padding: 0px !important;
}

.filter-button {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-right: 1px solid #ccc !important;
}

.map-button {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.mobile-button-filters {
  font-size: 12px !important;
  align-items: center !important;
  justify-content: center !important;
  flex-shrink: 0 !important;
  padding: 1rem 1.5rem !important;
  background-color: #333 !important;
  color: #fff !important;
  cursor: pointer !important;
  transition: all 0.2s !important;
  min-height: 55px !important;
  text-transform: capitalize !important;
  min-width: 92px !important;
}

.mobile-button-filters:focus:before {
  background-color: #5555 !important;
  opacity: 1 !important;
}

.mobile-button-filters:hover:before {
  background-color: #5555 !important;
  opacity: 1 !important;
}

.mapboxgl-ctrl-attrib-button:focus,
.mapboxgl-ctrl-group button:focus {
  box-shadow: none !important;
}

.mapboxgl-ctrl-attrib-inner a {
  color: #555 !important;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact-show {
  padding: 0px 24px 0px 3px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
  margin-bottom: 15px !important;
}

.mototitle {
  font-weight: bold;
  color: #000;
  white-space: normal;
}

.book-button {
  border-radius: 3px;
}

.img-center {
  top: 0;
  bottom: 0;
  margin: auto;
}

.logo-fitxa {
  z-index: 2;
  width: 100px !important;
}

.logo-fitxa .v-image__image {
  background-size: contain !important;
}

.searchRentContainer .v-dialog.v-dialog--active.v-dialog--scrollable {
  display: none;
  width: 94% !important;
  margin: 3% !important;
  height: 94% !important;
}

@media (max-width: 1024px) {
  .checkbox-topfilter .v-input--selection-controls__input {
    display: none !important;
  }

  .container.searchRentContainer {
    margin-bottom: 80px;
  }

  .text-fitxa {
    margin-top: -10px;
  }
}

@media (min-width: 768px) {
  .img-fitxa .v-image__image {
    background-size: contain !important;
  }

  .img-fitxa {
    height: 220px !important;
  }
}
</style>
