<template>
  <v-container class="searchRentContainer">
    <v-parallax height="300" src="/images/home-new-opt5.webp">
      <v-row>
        <!--   <div class="maxport p-absolute">
        <div id="port" class="port p-relative overflow-h d-none d-sm-block">
          <div
            class="features-port p-absolute bg-grey-rmb bo-b-1-111 d-none d-md-block"
          ></div>
          <div class="lazyloaded parallax-layer" data-bg="true"></div>
        </div>
      </div> -->

        <v-col
          cols="12"
          class="cookie_resum btn-arrow-left px-4 px-sm-3 py-4 py-sm-3"
          v-if="searchCookiesUrl !== null"
          sm="4"
          md="3"
        >
          <h5 class="nomargin cookie-title white--text">
            {{ $t("¿Sigue planeando un viaje a este destino?") }}
          </h5>
          <a :href="searchCookiesUrl" class="cookie-destination fs-14">
            <span v-if="search_country1 !== null">{{ search_country1 }}</span>
            <span v-if="search_city2 !== null"> - {{ search_city2 }}</span>
          </a>
          <v-col class="nopadding cookie-info">
            <strong>{{ $t("Desde") }}: </strong
            >{{ $d(new Date(start_get), "short", $i18n.locale) }}
            <strong>{{ $t("Hasta") }}: </strong
            >{{ $d(new Date(end_get), "short", $i18n.locale) }}
          </v-col>
          <router-link
            class="white--text font-weight-bold"
            :to="searchCookiesUrl"
          >
            <v-col class="cookie-button mt-3 mt-sm-1 mb-1 mb-sm-0 fs-14">
              {{ $t("Continuar") }}
            </v-col>
          </router-link>
        </v-col>

        <v-col
          cols="12"
          class="home-title px-0 px-md-3 pt-0 pt-md-3 pb-md-0"
          md="4"
          sm="6"
          ><SearchEngine
            :dfcountry="dfcountry"
            :dfcity="dfcity"
            :dfreturn="dfreturn"
            :dfstart="dfstart"
            :dfend="dfend"
            :dfsthora="dfsthora"
            :dfedhora="dfedhora"
        /></v-col>

        <div class="maxport banner-home-info">
          <v-col
            cols="12"
            sm="6"
            md="7"
            class="pt-4 pt-md-0 pb-3 pb-md-0 px-0 float-right"
          >
            <v-col
              cols="12"
              sm="7"
              md="4"
              class="float-left banner-home-info-first-item text-left pl-5 pl-md-3"
            >
              <v-col cols="12" class="p-0">
                <span class="text-h6 pr-1 fs-18"> 4.7 / 5</span>

                <v-icon
                  color="black"
                  style="vertical-align:baseline; margin-right: -3px;"
                  class="fs-20"
                  >mdi-star</v-icon
                >
                <v-icon
                  color="black"
                  style="vertical-align:baseline; margin-right: -3px;"
                  class="fs-20"
                  >mdi-star</v-icon
                >
                <v-icon
                  color="black"
                  style="vertical-align:baseline; margin-right: -3px;"
                  class="fs-20"
                  >mdi-star</v-icon
                >
                <v-icon
                  color="black"
                  style="vertical-align:baseline; margin-right: -3px;"
                  class="fs-20"
                  >mdi-star</v-icon
                >
                <v-icon
                  color="black"
                  style="vertical-align:baseline;"
                  class="fs-20"
                  >mdi-star-half-full</v-icon
                >
              </v-col>
              <v-col cols="12" class="p-0 line-height-0">
                <span class="font-weight-medium fs-10">{{
                  $t("%s Opiniones sobre Rentalmotorbike", { param1: 2241 })
                }}</span>
              </v-col>
            </v-col>

            <v-col
              cols="12"
              md="4"
              class="pl-2 pl-md-0 float-left text-left d-sm-none d-md-block"
            >
              <v-row>
                <v-col cols="2" class="pl-5 pr-0 px-md-0">
                  <v-icon
                    class="fs-30 font-weight-bold float-right check-icon-header"
                    color="black"
                    >mdi-check-circle-outline</v-icon
                  >
                </v-col>
                <v-col
                  cols="10"
                  class="text-left px-3 px-md-2"
                  style="line-height: 3;"
                >
                  {{ $t("Mejor precio garantizado") }}
                </v-col>
              </v-row>
            </v-col>

            <v-col
              cols="12"
              sm="5"
              md="4"
              class="pl-2 pl-md-0 float-left text-left"
            >
              <v-row>
                <v-col cols="2" class="pl-5 pr-0 px-md-0 d-sm-none d-md-block">
                  <v-icon
                    class="fs-30 font-weight-bold float-right icon-phone pt-1"
                    color="black"
                    >mdi-phone</v-icon
                  >
                </v-col>
                <v-col
                  cols="10"
                  sm="12"
                  md="10"
                  class="text-left px-3 px-md-2 fs-14"
                  style="line-height: 18px !important;"
                >
                  <span class="font-weight-medium">
                    <span class="flag-icon flag-icon-gb mr-1"></span>
                    <a
                      class="link_tel color-555"
                      rel="nofollow"
                      href="tel:+442037690023"
                      >+44 203 769 00 23</a
                    ><br />
                    <span class="flag-icon flag-icon-us mr-1"></span>
                    <a class="link_tel color-555" href="tel:+12014788964"
                      >+1 201 478 89 64</a
                    >
                  </span>
                </v-col>
              </v-row>
            </v-col>
          </v-col>
        </div>
      </v-row>
    </v-parallax>
    <v-col cols="12" class="px-0 pb-0 pt-0 pt-sm-3 comentarios-home">
      <h5 class="home-title mb-5 px-1 px-md-4">
        {{ $t("Recomendado por nuestros clientes") }}
      </h5>
      <v-col
        v-for="(opinion, id) in this.opinions"
        v-bind:key="'opinion' + id"
        class="py-2 px-1 px-md-4 comentarios-destacados-home"
        :class="{ 'pr-sm-4': id % 2 == 0, 'pl-sm-4': id % 2 != 0 }"
        sm="6"
        md="4"
      >
        <v-card width="100%" class="bg-reviews" elevation="0">
          <v-card-text class="black--text py-3 bo-a-1-e7">
            <div>
              <span
                class="flag-icon mr-2"
                :class="
                  'flag-icon-' + opinion.customer_country.toLowerCase().trim()
                "
              ></span>
              <v-icon class="mr-2" color="black" small>mdi-account</v-icon>
              <span class="mr-2">{{ opinion.customer_name }}</span>
              <span class="opidate">{{
                $d(new Date(opinion.date_create), "short", $i18n.locale)
              }}</span>
            </div>
            <div class="my-1" style="line-height: 12px !important;">
              {{ opinion.txt_rmb.substring(0, 95) }}...
            </div>
            <div class="ml-n1" rating_rmb>
              <v-icon
                color="black"
                small
                v-for="n in parseInt(opinion.rating_rmb)"
                class="fs-14 pb-1"
                :key="n"
                >mdi-star</v-icon
              >
              <span
                class="ml-1 my-2"
                style="position:absolute !important;bottom:6px"
                >{{ opinion.rating_rmb }}</span
              >
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-col>

    <v-col
      cols="12"
      class="px-1 px-md-4 pb-2 pt-0"
      v-if="Object.keys(offers).length > 0"
    >
      <v-col cols="12">
        <v-row>
          <v-col cols="12" md="8" class="px-0 py-5">
            <h5 class="home-title">
              {{ $t("Ofertas especiales de alquiler de motos") }}
            </h5>
          </v-col>
        </v-row>
      </v-col>

      <v-col cols="12" class="px-0 py-0" v-show="mountReady == true">
        <component
          :is="carousel"
          ref="test"
          :responsive="{
            1024: { items: 4 },
            768: { items: 2 },
            320: { items: 1 }
          }"
          :margin="30"
          :autoplay="false"
          :dots="false"
          :nav="true"
        >
          <div v-for="(offer, idx) in offers" v-bind:key="'offer' + idx">
            <a :href="offer.url" :title="offer.city">
              <picture>
                <source
                  type="image/webp"
                  :data-srcset="offer.img_webp"
                  :srcset="
                    'https://static.rentalmotorbike.com/images/cache/autox300/' +
                      offer.foto1
                  "
                />

                <source
                  type="image/jpeg"
                  :data-srcset="offer.img_jpg"
                  :srcset="
                    'https://static.rentalmotorbike.com/images/cache/autox300/' +
                      offer.foto1
                  "
                />

                <img
                  class="slider-carousel-img"
                  src="https://static.rentalmotorbike.com/images/blank.gif"
                  :alt="offer.poblacion"
                  :title="offer.poblacion"
                />
              </picture>

              <div class="slider-carousel-title boxshadow fs-18 px-2 py-2">
                {{ offer.poblacion }} {{ offer.discount }} %
                {{ $t("Descuento") }}
              </div>
            </a>

            <div class="text-left">
              <span class="datesSpecial">
                * {{ $t("desde") }} {{ offer.rentStart }} {{ $t("a") }}
                {{ offer.rentEnd }}
              </span>
              <span class="datesSpecial">
                ( {{ $t("Válido para alquileres entre") }}
                {{ offer.from_valid }} {{ $t("y") }} {{ offer.to_valid }} )
              </span>
            </div>
          </div>
        </component>
      </v-col>
    </v-col>

    <v-col md="12" class="px-1 px-md-4 pt-2 pb-4">
      <v-col cols="12">
        <v-row>
          <v-col cols="12" md="8" class="px-0 py-5">
            <h5 class="home-title">{{ $t("Los destinos más populares") }}</h5>
          </v-col>
        </v-row>
      </v-col>
    </v-col>

    <v-col md="12" class="px-1 px-md-0 pb-0">
      <h4 class="my-5 home-title">{{ $t("Acerca de Rentalmotorbike.com") }}</h4>
      <p class="mb-3">
        {{
          $t(
            "Gestionamos reservas en más de 74 países con más de 1100 bases repartidas por todo el mundo. En rentalmotorbike.com, nuestro máximo objetivo es la satisfacción de nuestros clientes, por este motivo contamos con un departamento de atención al cliente multiidioma que estará encantado de ayudarle a resolver cualquier duda que pueda tener."
          )
        }}
      </p>
      <p class="mb-3">
        {{
          $t(
            "La experiencia nos ha hecho aprender que cada cliente y momento es diferente y que es fundamental para garantizar una agradable experiencia estar junto a nuestros clientes antes, durante y después del alquiler. No tenga ninguna duda que nuestro mayor éxito es su felicidad junto a nuestras motos."
          )
        }}
      </p>
      <p class="mb-3">
        {{
          $t(
            "En nuestra web encontrará todas las posibilidades que pueda necesitar (scooters, trails, enduro, clásicas, naked, etc.) y las mejores marcas del mercado (BMW, Ducati, Harley Davidson, Honda, Yamaha). Sin embargo, si desea un alquiler especial o un alquiler de motos para grupos, por favor, póngase en contacto con nosotros."
          )
        }}
      </p>
    </v-col>
    <!-- <div>
      <h1>{{ post.title }}</h1>
      <p>{{ post.description }}</p>
    </div> -->
  </v-container>
</template>

<script>
// @ is an alias to /src
import SearchEngine from "@/components/SearchEngine.vue";
import axios from "axios";
//import OwlCarousel from 'vjs-owl-carousel'

export default {
  name: "Home",
  components: {
    SearchEngine
    //OwlCarousel
  },
  /* async asyncData({ app }) {
    console.log("ssssss");
    const req = context.req;
    const headers = req && req.headers ? Object.assign({}, req.headers) : {};
    const xRealIp = headers["x-real-ip"];
    let searchParams = {
      locale: app.params.lang,
      country: xRealIp
    };
    await app.dispatch("fetchRecomendations", { searchParams });
  } 
  async asyncData({ params, $http }) {
    let post = {
      title: "title",
      description: "description"
    };
    return { post };
  },*/
  data() {
    return {
      options: {
        dots: false,
        nav: false,
        margin: 30,
        autoplay: false,
        responsiveClass: true,
        responsive: {
          0: {
            items: 2,
            nav: true
          },
          600: {
            items: 2,
            nav: false
          },
          1000: {
            items: 2,
            nav: true,
            loop: false
          }
        }
      },
      mountReady: false,
      carousel: null,
      dfcountry: null,
      dfcity: null,
      dfreturn: null,
      searchCookiesUrl: null,
      search_country1: null,
      search_city2: null,
      start_get: null,
      end_get: null,
      opinions: [],
      dfstart: null,
      dfend: null,
      dfsthora: null,
      dfedhora: null,
      offers: [],
      recomendations: [
        {
          city: "Barcelona",
          url: "https://www.rentalmotorbike.com/motorbike-rental-barcelona",
          img_webp:
            "https://static.rentalmotorbike.com/images/cache/autox300/barcelona-2.webp",
          img_jpg:
            "https://static.rentalmotorbike.com/images/cache/autox300/barcelona-2.jpg",
          models_available: "398",
          relateds: [
            {
              name: "Badalona",
              url:
                "https://www.rentalmotorbike.com/es/search/es/alquiler-motos-badalona"
            },
            {
              name: "Barcelona",
              url:
                "https://www.rentalmotorbike.com/es/search/es/alquiler-motos-barcelona"
            },
            {
              name: "Barcelona - El Prat Airport",
              url:
                "https://www.rentalmotorbike.com/es/search/es/alquiler-motos-barcelona+-+el+prat+airport"
            },
            {
              name: "Calella",
              url:
                "https://www.rentalmotorbike.com/es/search/es/alquiler-motos-calella"
            },
            {
              name: "Castellfollit del Boi",
              url:
                "https://www.rentalmotorbike.com/es/search/es/alquiler-motos-castellfollit+del+boix"
            }
          ]
        },
        {
          city: "Ibiza",
          url: "https://www.rentalmotorbike.com/motorbike-rental-ibiza",
          img_webp:
            "https://static.rentalmotorbike.com/images/cache/autox300/Ibiza-2.webp",
          img_jpg:
            "https://static.rentalmotorbike.com/images/cache/autox300/Ibiza-2.jpg",
          models_available: "75",
          relateds: [
            {
              name: "Eivissa",
              url:
                "https://www.rentalmotorbike.com/es/search/e2/alquiler-motos-eivissa"
            },
            {
              name: "Ibiza",
              url:
                "https://www.rentalmotorbike.com/es/search/e2/alquiler-motos-ibiza"
            },
            {
              name: "Ibiza - Ibiza Airport",
              url:
                "https://www.rentalmotorbike.com/es/search/e2/alquiler-motos-ibiza+-+ibiza+airport"
            },
            {
              name: "Sant Antoni de Portmany",
              url:
                "https://www.rentalmotorbike.com/es/search/e2/alquiler-motos-sant+antoni+de+portmany"
            }
          ]
        },
        {
          city: "Barcelona",
          url: "https://www.rentalmotorbike.com/motorbike-rental-barcelona",
          img_webp:
            "https://static.rentalmotorbike.com/images/cache/autox300/barcelona-2.webp",
          img_jpg:
            "https://static.rentalmotorbike.com/images/cache/autox300/barcelona-2.jpg",
          models_available: "398",
          relateds: [
            {
              name: "Badalona",
              url:
                "https://www.rentalmotorbike.com/es/search/es/alquiler-motos-badalona"
            },
            {
              name: "Barcelona",
              url:
                "https://www.rentalmotorbike.com/es/search/es/alquiler-motos-barcelona"
            },
            {
              name: "Barcelona - El Prat Airport",
              url:
                "https://www.rentalmotorbike.com/es/search/es/alquiler-motos-barcelona+-+el+prat+airport"
            },
            {
              name: "Calella",
              url:
                "https://www.rentalmotorbike.com/es/search/es/alquiler-motos-calella"
            },
            {
              name: "Castellfollit del Boi",
              url:
                "https://www.rentalmotorbike.com/es/search/es/alquiler-motos-castellfollit+del+boix"
            }
          ]
        },
        {
          city: "Ibiza",
          url: "https://www.rentalmotorbike.com/motorbike-rental-ibiza",
          img_webp:
            "https://static.rentalmotorbike.com/images/cache/autox300/Ibiza-2.webp",
          img_jpg:
            "https://static.rentalmotorbike.com/images/cache/autox300/Ibiza-2.jpg",
          models_available: "75",
          relateds: [
            {
              name: "Eivissa",
              url:
                "https://www.rentalmotorbike.com/es/search/e2/alquiler-motos-eivissa"
            },
            {
              name: "Ibiza",
              url:
                "https://www.rentalmotorbike.com/es/search/e2/alquiler-motos-ibiza"
            },
            {
              name: "Ibiza - Ibiza Airport",
              url:
                "https://www.rentalmotorbike.com/es/search/e2/alquiler-motos-ibiza+-+ibiza+airport"
            },
            {
              name: "Sant Antoni de Portmany",
              url:
                "https://www.rentalmotorbike.com/es/search/e2/alquiler-motos-sant+antoni+de+portmany"
            },
            {
              name: "Sant Jordi de ses Salines",
              url:
                "https://www.rentalmotorbike.com/es/search/e2/alquiler-motos-sant+jordi+de+ses+salines"
            }
          ]
        },
        {
          city: "Barcelona",
          url: "https://www.rentalmotorbike.com/motorbike-rental-barcelona",
          img_webp:
            "https://static.rentalmotorbike.com/images/cache/autox300/barcelona-2.webp",
          img_jpg:
            "https://static.rentalmotorbike.com/images/cache/autox300/barcelona-2.jpg",
          models_available: "398",
          relateds: [
            {
              name: "Badalona",
              url:
                "https://www.rentalmotorbike.com/es/search/es/alquiler-motos-badalona"
            },
            {
              name: "Barcelona",
              url:
                "https://www.rentalmotorbike.com/es/search/es/alquiler-motos-barcelona"
            },
            {
              name: "Barcelona - El Prat Airport",
              url:
                "https://www.rentalmotorbike.com/es/search/es/alquiler-motos-barcelona+-+el+prat+airport"
            },
            {
              name: "Calella",
              url:
                "https://www.rentalmotorbike.com/es/search/es/alquiler-motos-calella"
            },
            {
              name: "Castellfollit del Boi",
              url:
                "https://www.rentalmotorbike.com/es/search/es/alquiler-motos-castellfollit+del+boix"
            }
          ]
        }
      ]
    };
  },
  methods: {
    chkcookies() {
      if (
        this.$cookies.isKey("search_startdate") == true &&
        this.$cookies.isKey("search_enddate") == true &&
        this.$cookies.isKey("search_country_v") == true &&
        this.$cookies.isKey("search_country1") == true &&
        this.$cookies.isKey("search_start_hour") == true &&
        this.$cookies.isKey("search_end_hour") == true
      ) {
        this.search_country1 = this.$cookies.get("search_country1");
        this.start_get = this.$cookies.get("search_startdate");
        this.end_get = this.$cookies.get("search_enddate");
        if (this.search_country1 == "undefined") {
          return false;
        }
        if (this.$route.params.lang == undefined) {
          this.searchCookiesUrl = "";
        } else {
          this.searchCookiesUrl = "/" + this.$route.params.lang;
        }
        this.searchCookiesUrl =
          this.searchCookiesUrl +
          "/searchrent/?country=" +
          this.$cookies.get("search_country_v") +
          "&city=" +
          this.$cookies.get("search_country1") +
          "&dropoff=0&dropoff=1";

        this.dfcountry = this.$cookies.get("search_country_v");
        this.dfcity = this.$cookies.get("search_country1");
        if (this.$cookies.isKey("search_city2") == true) {
          this.searchCookiesUrl =
            this.searchCookiesUrl +
            "&city2=" +
            this.$cookies.get("search_city2");
          this.search_city2 = this.$cookies.get("search_city2");
          this.dfreturn = this.$cookies.get("search_city2");
        }
        this.dfstart = this.$cookies.get("search_startdate");
        this.dfsthora = this.$cookies.get("search_start_hour");
        this.dfend = this.$cookies.get("search_enddate");
        this.dfedhora = this.$cookies.get("search_end_hour");
        this.searchCookiesUrl =
          this.searchCookiesUrl +
          "&start=" +
          this.$cookies.get("search_startdate") +
          "&starthour=" +
          this.$cookies.get("search_start_hour") +
          "&end=" +
          this.$cookies.get("search_enddate") +
          "&endhour=" +
          this.$cookies.get("search_end_hour") +
          "&zona=&tipo=";
      }
    },
    fetchOpinonData() {
      if (this.$route.params.lang == undefined) {
        this.lang = "en";
      } else {
        this.lang = this.$route.params.lang;
      }
      axios.post("/api/reviews", { lang: this.lang }).then(response => {
        this.opinions = response.data.data;
        Object.freeze(this.opinions);
      });
    },
    async fetchSpecialPriceData() {
      await axios.post("/api/specialprices").then(response => {
        this.offers = response.data.data;
        Object.freeze(this.offers);
        window.dispatchEvent(new Event("resize"));
      });
    },
    fetchPopularData() {
      axios
        .post("/api/popularlocation", {
          locale: this.$i18n.locale
        })
        .then(response => {
          this.recomendations = response.data.data;
          //console.log(response)
        });
    }
  },
  computed: {
    getRecomendations() {
      return this.$store.state.recomendationsData;
    }
  },
  created() {
    //this.chkcookies()
    this.fetchOpinonData();
    //this.fetchPopularData();
    //onsole.log(this.$store.state.recomendationsData);
  },
  mounted() {
    this.fetchSpecialPriceData().then(() => {
      this.carousel = require("vue-owl-carousel");
      this.mountReady = true;
    });
    //console.log(this.getRecomendations);
  }
};
</script>
<style>
.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.slider-carousel-img {
  opacity: 1;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.slider-carousel-title {
  top: 15px;
  right: 2%;
  width: auto;
  color: #0c6fad;
  opacity: 0.9;
  position: absolute;
  background-color: white;
  font-weight: normal;
  padding: 5px;
}

.boxshadow {
  box-shadow: 3px 4px 2px -1px rgb(0 0 0 / 20%);
}

.slide-carousel {
  display: inline-block;
}

.datesSpecial {
  font-weight: normal;
  padding: 0px;
  display: block;
  line-height: 24px;
}

.cityPopular {
  font-size: 1em;
}

.color-link,
.color-link:hover {
  color: #337ab7;
}

.home-title {
  color: #669a00;
  z-index: 1;
}

.v-messages.theme--light {
  display: none;
}

.profilePage .v-messages.theme--light {
  display: inline-block;
}

a.cookie-destination {
  color: #555 !important;
}

.cookie-button {
  background-color: #669a00;
  width: 100%;
  text-align: center;
  padding: 0px !important;
  line-height: 25px !important;
}

.comentarios-destacados-home {
  display: inline-table;
}

.my-1 {
  min-height: 44px;
}

.maxport {
  z-index: 0;
  top: -8px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 1435px;
}

.port {
  height: 468px;
  width: 100%;
  z-index: -1;
}

.features-port {
  width: 100%;
  bottom: 0;
  height: 64px;
  z-index: 100;
  opacity: 0.9;
}

.bo-b-1-111 {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #111;
}
.bg-grey-rmb {
  background-color: #f7f7f7;
}

.comentarios-home {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .parallax-layer {
    background: url(/images/home-new-opt5.00f11e5b.webp) no-repeat 57% 32%;
    background-size: contain;
    width: 190%;
    height: 100%;
    position: absolute;
    left: -50%;
  }

  .cookie_resum {
    position: absolute;
    top: 15px;
    left: 55%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #555;
    background-color: white !important;
  }

  .btn-arrow-left:before,
  .btn-arrow-left:after {
    content: "";
    position: absolute;
    top: 40px;
    width: 22px;
    height: 22px;
    background: inherit;
    border: inherit;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 0px 4px 0px 0px;
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
    left: -11px;
    padding-right: 36px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    padding-left: 18px;
    padding-right: 4px;
    box-shadow: 2px -2px 3px #ccc;
  }

  h5.nomargin.cookie-title {
    color: #669a00 !important;
  }

  .cookie-info {
    color: #000 !important;
  }

  .banner-home-info {
    position: absolute;
    margin-top: 460px;
  }

  .banner-home-info-first-item {
    margin-left: 0%;
  }

  .comentarios-home {
    margin-top: 25px;
  }
}

@media (min-width: 992px) {
  .parallax-layer {
    background: url("/images/home-new-opt5.webp") no-repeat 57% 32%;
    background-size: contain;
    width: 100.5%;
    height: 101%;
    position: absolute;
    left: 0%;
  }

  .cookie_resum {
    position: absolute;
    top: 1%;
    left: 38%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #555;
    background-color: white !important;
  }

  .banner-home-info {
    position: absolute;
    margin-top: 405px;
  }

  .comentarios-home {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .cookie-info {
    color: #fff !important;
  }

  .cookie_resum {
    background: #333;
  }

  a.cookie-destination {
    color: #fff !important;
  }

  .slider-carousel-img {
    height: 150px !important;
  }
}

.swiper-buttons-home {
  direction: rtl;
  padding: 2px 0px !important;
}

.swiper-prev1,
.swiper-next1,
.swiper-prev2,
.swiper-next2 {
  color: #333 !important;
  display: contents !important;
  position: inherit !important;
  float: right;
}

.swiper-prev1::before,
.swiper-next1::before,
.swiper-prev2::before,
.swiper-next2::before {
  background-color: white;
  border: 1px solid transparent;
  border-color: #ccc;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: bold;
}

.swiper-prev1:hover::before,
.swiper-next1:hover::before,
.swiper-prev2:hover::before,
.swiper-next2:hover::before {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.swiper-prev1:active::before,
.swiper-next1:active::before,
.swiper-prev2:active::before,
.swiper-next2:active::before {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.bo-a-1-e7 {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #e7e7e7 !important;
}

.check-icon-header::before {
  font-weight: bold;
}

.owl-theme .owl-nav {
  position: absolute;
  top: -4rem;
  right: 0;
}

.owl-theme .owl-nav [class*="owl-"] {
  color: #333 !important;
  background-color: #fff !important;
  border-color: #ccc !important;
  display: inline-block !important;
  margin-bottom: 0 !important;
  font-weight: normal !important;
  text-align: center !important;
  vertical-align: middle !important;
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
  cursor: pointer !important;
  background-image: none !important;
  border: 1px solid transparent !important;
  white-space: nowrap !important;
  padding: 6px 12px !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  border-radius: 4px !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/*revisar cristian */
/*
@media (max-width: 1024px){
  .home-title {
      flex: 0 0 41.6666666667% !important;
      max-width: 41.6666666667% !important;
  }
}

@media (max-width: 767px){
  .home-title {
      flex: 0 0 100% !important;
      max-width: 100% !important;
  }
}
*/
</style>
