<template>
  <v-row>
    <v-col class="text-center">
      <img src="/v.png" alt="Vuetify.js" class="mb-5" />
      <blockquote class="blockquote">
        &#8220;First, solve the problem. Then, write the code.&#8221;
        <footer>
          <small>
            <em>&mdash;John Johnson</em>
          </small>
        </footer>
      </blockquote>
      <div>
        <h1>{{ post.title }}</h1>
        <p>{{ post.description }}</p>
      </div>
    </v-col>
  </v-row>
</template>
<script>
export default {
  async asyncData({ params, $http }) {
    /* const post = await $http.$get(`https://api.nuxtjs.dev/posts/1`);
    console.log(post); */
    let post = {
      title: "title",
      description: "description"
    };
    return { post };
  }
};
</script>
