<template>
  <v-container class="searchRentContainer">
    <v-col class="mobile-buttons-filters d-md-none">
      <v-dialog
        v-model="mobileFilter"
        max-width="1600"
        class="mapDialog"
        style="overflow-y:hidden !important"
        :scrollable="scrollable"
        fullscreen
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            elevation="0"
            v-bind="attrs"
            v-on="on"
            class="d-inline-flex filter-button mobile-button-filters px-4"
          >
            <v-icon class="fs-12 mr-2">mdi-filter</v-icon
            ><span>{{ $t("Filtros") }}</span>
          </v-btn>
        </template>

        <v-card>
          <v-card-text class="dark-bg"
            ><v-icon
              color="#818181"
              class="float-right mt-3 mb-2"
              @click="mobileFilter = false"
              >mdi-close</v-icon
            >
            <v-col class="px-2">
              <FilterRent
                :types="types"
                :areas="areas"
                :brands="brands"
                :displacements="displacements"
                :mileages="mileages"
                :specials="specials"
            /></v-col> </v-card-text
        ></v-card>
      </v-dialog>

      <v-dialog
        v-model="mobileMap"
        max-width="1600"
        class="mapDialog"
        style="overflow-y:hidden !important"
        :scrollable="scrollable"
        fullscreen
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            elevation="0"
            v-bind="attrs"
            v-on="on"
            class="d-inline-flex map-button mobile-button-filters px-4"
          >
            <v-icon class="fs-12 mr-2">mdi-map-marker</v-icon>{{ $t("Mapa") }}
          </v-btn>
        </template>

        <v-card style="overflow:hidden">
          <v-card-text class="py-0 px-0" style="overflow:hidden">
            <v-icon
              class="float-right color-333 py-2 px-2"
              style="z-index:1"
              @click="mobileMap = false"
              >mdi-close-circle</v-icon
            >
            <div
              style="height:140px; overflow-y:scroll; 
    white-space: nowrap;position:absolute; bottom: 36px;left:5px;z-index:5;width:97%"
            >
              <div
                v-for="(motomob, idx) in motosraw"
                v-bind:key="idx"
                class="mt-2 mb-1 mx-1"
                style="background-color: #fff;
    width: 275px;
    height: 125px;
    display: inline-block;
    float: none;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 24%), 0 8px 16px rgb(0 0 0 / 24%)"
              >
                <v-row class="mx-0 my-0 height100">
                  <v-col cols="6" class="py-0 px-0 p-relative">
                    <img
                      src="https://www.rentalmotorbike.com/images/blank.gif"
                      data-srcset="https://www.rentalmotorbike.com/images/cache/350x300/placeholder.jpg, https://www.rentalmotorbike.com/images/cache/700x600/placeholder.jpg 2x"
                      alt="img_moto"
                      class="col-md-11 col-sm-11 col-xs-11 nopadding lazyloaded p-absolute img-center"
                      srcset="
                        https://static.rentalmotorbike.com/images/cache/700x600/CU_White_02.png,
                        https://static.rentalmotorbike.com/images/cache/700x600/CU_White_02.png 2x
                      "
                    />
                  </v-col>

                  <v-col cols="6" class="my-0">
                    <v-row>
                      <v-col
                        cols="12"
                        class="pt-2 pl-1 pr-3 pb-5 line-height-1-5"
                      >
                        <span class="mototitle"
                          ><span class="fs-13">Super SOCO CUX</span>
                          <small class="nopadding fs-11">
                            {{ $t(" o similar") }}</small
                          ></span
                        >
                      </v-col>
                      <v-col cols="12" class="py-0 px-4">
                        <div
                          class="mapprice text-right fs-18 color-rmb font-weight-bold"
                        >
                          $60.69
                        </div>
                      </v-col>
                      <v-col cols="12" class="text-right py-1">
                        <span
                          class="rent-bgcolor font-weight-bold white--text px-2 py-1 justify-center fs-12 book-button"
                          @click="pushDrive(motomob.gets)"
                          >{{ $t("Reservar ahora") }}
                        </span>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </div>
            </div>
            <component
              :is="MglMap"
              v-if="mountReady == true"
              ref="mapbox"
              :accessToken="accessToken"
              :mapStyle.sync="mapStyle"
              :center="center"
              :zoom="zoom"
              @load="mapLoad()"
            >
              <component
                :is="MglMarker"
                v-for="(marker, id) in motosraw"
                v-bind:key="'marker' + id"
                :coordinates="[
                  parseFloat(marker.latlong.split(',')[1]),
                  parseFloat(marker.latlong.split(',')[0])
                ]"
                :base="marker.base_id"
                color="red"
                @click="tst(marker.base_id)"
              />
            </component>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-col>

    <v-row>
      <v-col class="mt-7 d-none d-md-block" md="3">
        <v-row style="" class="d-flex">
          <v-col cols="12" v-if="isMobile == null">
            <SideBar class="px-3" :color="color" search="1" />
          </v-col>
          <v-col cols="12">
            <v-col
              cols="12"
              class="pt-5 pb-0 text-h6 fs-18 color-000 font-weight-bold"
            >
              <v-icon class="mx-1 color-000 fs-20">mdi-phone</v-icon>
              {{ $t("¿Tiene dudas?") }} {{ $t("Llámenos") }}
            </v-col>
            <v-col cols="12" class="pb-5 pt-0 text-h6 ">
              <a
                class="link_tel p-0 color-555 fs-18 font-weight-bold"
                href=""
                rel="nofollow"
              >
                <v-col cols="12" class="pt-1 pb-0 px-1"
                  ><span class="flag-icon flag-icon-gb mr-1"></span> +44 203 769
                  00 23</v-col
                >
                <v-col cols="12" class="pt-1 pb-0 px-1"
                  ><span class="flag-icon flag-icon-us mr-1"></span> +1 201 478
                  89 64</v-col
                >
              </a>
            </v-col>
          </v-col>

          <v-col cols="12" class="d-none d-md-flex px-6">
            <FilterRent
              :types="types"
              :areas="areas"
              :brands="brands"
              :displacements="displacements"
              :mileages="mileages"
              :specials="specials"
            />
          </v-col>

          <v-col cols="12" class="px-6">
            <v-row class="my-2 color-000 bo-a-1-e7 bg-reviews py-3 px-4">
              <v-col cols="12" class="py-0">
                <span class="text-h6 pr-1 fs-18"> 4.7 / 5</span>

                <v-icon
                  color="black"
                  style="vertical-align:baseline; margin-right: -3px;"
                  class="fs-20"
                  >mdi-star</v-icon
                >
                <v-icon
                  color="black"
                  style="vertical-align:baseline; margin-right: -3px;"
                  class="fs-20"
                  >mdi-star</v-icon
                >
                <v-icon
                  color="black"
                  style="vertical-align:baseline; margin-right: -3px;"
                  class="fs-20"
                  >mdi-star</v-icon
                >
                <v-icon
                  color="black"
                  style="vertical-align:baseline; margin-right: -3px;"
                  class="fs-20"
                  >mdi-star</v-icon
                >
                <v-icon
                  color="black"
                  style="vertical-align:baseline;"
                  class="fs-20"
                  >mdi-star-half-full</v-icon
                >
              </v-col>
              <v-col cols="12" class="py-0">
                <span class="font-weight-medium">{{
                  $t("%s Opiniones sobre Rentalmotorbike", { param1: 2241 })
                }}</span>
                <span class="text-capitalize">{{ $t(city) }}</span>
              </v-col>
            </v-row>
          </v-col>

          <v-col cols="12" class="px-6">
            <Opinion :opinions="opinions" />
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" md="9" class="px-0 pl-md-6 px-sm-2 pr-md-5 py-0">
        <v-row>
          <v-col
            sm="12"
            class="mt-6 mt-sm-4 mx-4 mx-sm-2 pb-2 pb-sm-1 pb-md-2 pb"
          >
            <span class="line-height-initial rent-color fs-18">
              {{ $t("Alquiler de motos en") }}
              <span class="text-capitalize">{{ $t(city) }}</span> ({{
                $t(country.toUpperCase())
              }})
            </span>
            <span
              class="d-flex d-md-none fs-12 color-000 line-height-initial mb-4 mb-sm-0 mt-sm-3"
              >{{ $t("Desde") }}:
              <span class="font-weight-bold px-1">{{
                $d(new Date(postData.start), "short", $i18n.locale)
              }}</span>
              {{ $t("Hasta") }}:
              <span class="font-weight-bold px-1">{{
                $d(new Date(postData.end), "short", $i18n.locale)
              }}</span>
              <span @click="$root.$data.drawer = true">
                [<b
                  ><v-icon color="black" class="fs-14 px-1"
                    >mdi-magnify</v-icon
                  ></b
                >{{ $t("Modificar") }}]</span
              >
            </span>
          </v-col>
          <v-col sm="12" class="pt-0 pb-md-0 d-none d-sm-flex">
            <span
              class="font-weight-bold pl-2 pr-16 pr-md-5 text-body-2 mt-1 fs-12 color-000"
              >{{ $t("Filtrar por:") }}</span
            >
            <div
              v-for="(b1, b1k) in brandsTop"
              v-bind:key="b1k"
              class="ml-4 ml-md-2"
              style="max-width:100px;"
            >
              <div v-if="b1k < 7 && b1.value != null">
                <v-checkbox
                  v-model="brandsTopValue"
                  class="topFilter checkbox-topfilter"
                  :label="b1.text"
                  color="#337ab7"
                  :value="b1.value"
                  @click="filterChk()"
                  :disabled="b1.disabled"
                  hide-details
                  dense
                ></v-checkbox>
              </div>

              <div v-if="b1k == 7">
                <v-menu offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn elevation="0" v-bind="attrs" v-on="on">
                      <v-icon class="ml-n1 fs-20" color="#555"
                        >mdi-menu-down</v-icon
                      >
                    </v-btn>
                  </template>
                  <v-list class="dropdown-menu">
                    <v-list-item v-for="(b2, b2k) in b1" v-bind:key="b2k">
                      <v-checkbox
                        v-model="brandsTopValue"
                        class="topFilter checkbox-topfilter"
                        :label="b2.text"
                        color="#337ab7"
                        :value="b2.value"
                        @click="filterChk()"
                        hide-details
                        :disabled="b1.disabled"
                        dense
                      ></v-checkbox>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </div>
            </div>

            <v-dialog
              class="mapDialog"
              style="overflow-y:hidden !important"
              :scrollable="scrollable"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  class="d-none d-md-flex map-button"
                  elevation="0"
                  v-bind="attrs"
                  v-on="on"
                  width="80"
                  height="45"
                  style="
                    z-index: 1;
                    background-image: url(/images/mapbg.jpg);
                    height: 48px !important;
                    position: absolute;
                    right: 0;
                    border: solid 1px #838383ab;
                    border-radius: 5px !important;
                    cursor: pointer;
                    max-width: 115px;
                    min-width: 85px;
                    float: right;
                    margin-right: 76px;
                    top: 25px;"
                >
                  <v-row class="d-flex flex-wrap">
                    <v-icon color="red" style="font-size:30px;width:100%"
                      >mdi-map-marker</v-icon
                    >
                    <span
                      class="font-weight-bold text-body-1 text-capitalize mt-n1 mapButtonBlock2"
                      style="font-size: 15px !important;"
                      >{{ $t("Mapa") }}</span
                    >
                  </v-row>
                </v-btn>
              </template>

              <v-card class="mapa-searchrent">
                <v-card-text class="py-0 px-0" style="overflow:hidden">
                  <v-row>
                    <v-col md="2" style="max-height:850px"
                      >filter<FilterRent
                        :types="types"
                        :areas="areas"
                        :brands="brands"
                        :displacements="displacements"
                        :mileages="mileages"
                        :specials="specials"
                        style="overflow:auto !important"
                    /></v-col>
                    <v-col
                      md="3"
                      style="overflow:auto !important;max-height:850px"
                      >motos
                      <form
                        name="form9001149"
                        method="get"
                        action="/vehicle/driver"
                        class="col-xs-12 nopadding"
                      >
                        <input
                          type="hidden"
                          name="id"
                          value="ceh-sjgbqqwfviu-m-m-yxdjb-"
                        />
                        <div
                          class="col-md-12 col-sm-6 col-xs-6 text-left mt-10 mototitleblock pull-right"
                        >
                          <span class="mototitle"
                            >BMW K75 Scrambler<small
                              class="col-md-12 nopadding"
                            >
                              {{ $t(" o similar") }}</small
                            ></span
                          >
                        </div>
                        <div
                          class="col-md-3 col-sm-3 col-xs-3 motoblockholder"
                        ></div>
                        <div
                          class="col-md-6 motoimage col-sm-6 col-xs-6 pr-0 pl-0 pull-left"
                        >
                          <img
                            src="https://www.rentalmotorbike.com/images/blank.gif"
                            data-srcset="https://www.rentalmotorbike.com/images/cache/350x300/placeholder.jpg, https://www.rentalmotorbike.com/images/cache/700x600/placeholder.jpg 2x"
                            alt="img_moto"
                            class="col-md-11 col-sm-11 col-xs-11 nopadding lazyloaded"
                            srcset="
                              https://www.rentalmotorbike.com/images/cache/350x300/placeholder.jpg,
                              https://www.rentalmotorbike.com/images/cache/700x600/placeholder.jpg 2x
                            "
                          />
                        </div>
                        <div
                          class="col-md-3 col-sm-3 col-xs-3 motoblockholder"
                        ></div>
                        <div class="col-md-12 col-sm-6 col-xs-6 nopadding">
                          <div
                            itemprop="offers"
                            itemscope=""
                            itemtype="http://schema.org/Offer"
                            class="priceMoto"
                          >
                            <div
                              class="color-rmb col-md-6 col-sm-12 col-xs-12 text-center"
                            >
                              <div class="pl-10 mapprice">$146.10</div>
                            </div>
                          </div>
                          <div
                            class="col-md-6 col-sm-12 col-xs-12 pr-10 text-center"
                          >
                            <input
                              type="submit"
                              class="btn bold-white pull-right btnmap"
                              value="Book now"
                            />
                          </div>
                        </div></form
                    ></v-col>
                    <v-col md="7" style="max-height:850px">
                      <component
                        :is="MglMap"
                        v-if="mountReady == true"
                        ref="mapbox"
                        :accessToken="accessToken"
                        :mapStyle.sync="mapStyle"
                        :center="center"
                        :zoom="zoom"
                        @load="mapLoad()"
                      >
                        <component
                          :is="MglMarker"
                          v-for="(marker, id) in motosraw"
                          v-bind:key="'marker' + id"
                          :coordinates="[
                            parseFloat(marker.latlong.split(',')[1]),
                            parseFloat(marker.latlong.split(',')[0])
                          ]"
                          :base="marker.base_id"
                          color="red"
                          @click="tst(marker.base_id)"
                        />
                      </component>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-dialog>
          </v-col>

          <v-col cols="12" sm="4" class="pt-1">
            <v-row
              class="px-7 pl-sm-5 pr-sm-3 pt-sm-5 pb-sm-0 mb-3 mb-sm-0"
              align="baseline"
            >
              <v-col
                md="12"
                class="pull-right alert-danger alert text-center text-body-1 searchrent-box mb-0"
              >
                <span class="font-weight-bold fs-18">{{
                  $t("10% Descuento")
                }}</span
                ><br />
                <span class="fs-18">{{ $t("Oferta de hoy") }}</span>
              </v-col>
            </v-row>
          </v-col>
          <v-col sm="4" class="d-none d-sm-flex pt-1">
            <v-row class="px-4 pt-5 pb-0 mb-0" align="baseline">
              <v-col
                sm="12"
                class="pull-right alert-success alert text-center text-body-1 searchrent-box mb-0"
                ><span class="fs-15">
                  {{ $t("La disponibilidad en ") }}
                  <span class="text-capitalize font-weight-bold fs-15">{{
                    $t(city)
                  }}</span>
                  {{
                    $t(
                      " es menor durante estas fechas y los precios tienden a subir."
                    )
                  }}
                </span></v-col
              >
            </v-row>
          </v-col>
          <v-col sm="4" class="d-none d-sm-flex pt-1">
            <v-row class="pr-5 pl-3 pt-5 pb-0 mb-0" align="baseline">
              <v-col
                sm="12"
                class="pull-right alert-success alert text-center text-body-1 searchrent-box mb-0"
              >
                <span class="fs-15">{{
                  $t(
                    "Sin necesidad de registrarse ¡Sin cargos de gestión por pagar con tarjeta de crédito!"
                  )
                }}</span>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <v-card
          v-for="(moto, idx) in motos[parseInt(page) - 1]"
          v-bind:key="page + '-' + idx"
          elevation="0"
          class="mx-4 mx-sm-2 my-5 px-5 py-6 d-sm-inline-block"
          color="white"
          style="height: auto;
                box-shadow: 1px 0 10px 0 #ccc !important;"
        >
          <v-overlay
            class="d-sm-none"
            :absolute="absolute"
            :value="moto.overlay"
            opacity="0.95"
          >
            <v-col cols="12" class="bgcolor-333 mx-0 my-0 width100 height100">
              <v-row>
                <v-col cols="12" class="px-4 py-4">
                  <h2 class="white-text font-weight-medium">
                    {{ moto.brand }} {{ moto.name }}
                    <small>
                      {{ $t(" o similar") }}
                    </small>
                    <span
                      class="float-right pr-1"
                      @click="overlaydisplay(page + '-' + idx)"
                    >
                      <v-icon>mdi-close-circle</v-icon>
                    </span>
                  </h2>
                </v-col>

                <v-col cols="12" class="py-0 px-4 mb-6 extrainfosearch">
                  <v-col
                    cols="12"
                    class="px-0 alert alert-success text-center font-weight-bold d-inline-block my-5"
                  >
                    <span>{{
                      $t("Pague ahora el %s % y el resto en su destino", {
                        param1: moto.pay
                      })
                    }}</span>
                  </v-col>

                  <v-col cols="12" class="px-0 py-0">
                    <v-col
                      cols="12"
                      class="p-0 line-height-auto"
                      v-if="moto.optionsFree.length > 0"
                    >
                      <span class="font-weight-bold">{{ $t("Incluye") }}:</span>

                      <span
                        v-for="(option, idp) in moto.optionsFree"
                        v-bind:key="idp"
                      >
                        {{ $t(option.value) }}
                      </span>
                    </v-col>

                    <v-col
                      cols="12"
                      class="p-0 line-height-auto"
                      v-if="moto.km.extra === 0"
                    >
                      <span class="font-weight-bold">{{
                        $t("Kilómetros ilimitados")
                      }}</span>
                    </v-col>

                    <v-col
                      cols="12"
                      class="p-0 line-height-auto"
                      v-if="moto.km.extra !== 0"
                    >
                      <span class="font-weight-bold"
                        >{{ $t("KM limitados") }}:</span
                      >
                      <span> {{ moto.km.extra }} km / day.</span>
                    </v-col>

                    <v-col
                      cols="12"
                      class="p-0 line-height-auto"
                      v-if="moto.disponiblidad === true"
                    >
                      <b>{{ $t("Disponibilidad") }}:</b>{{ $t("Inmediata") }}
                    </v-col>

                    <v-col
                      cols="12"
                      class="p-0 line-height-auto"
                      v-if="moto.disponiblidad === false"
                    >
                      <b>{{ $t("Disponibilidad") }}:</b>{{ $t("Bajo demanda") }}
                    </v-col>

                    <v-col
                      cols="12"
                      class="p-0 line-height-auto"
                      v-if="moto.disponiblidad === false"
                    >
                      <b>{{ $t("Permiso moto requerido") }}</b>
                    </v-col>

                    <v-col cols="12" class="p-0 line-height-auto">
                      <b>{{ $t("Edad mínima") }}:</b>{{ moto.age }}
                      {{ $t("años") }}
                    </v-col>

                    <v-col cols="12" class="p-0 line-height-auto">
                      <b>{{ $t("Fianza") }}:</b>
                      {{ moto.bail }}

                      {{ $t("a pagar en destino") }}
                    </v-col>

                    <v-col cols="12" class="p-0 line-height-auto">
                      <b>{{ $t("Exp. mínima") }}:</b> {{ moto.min_exp }}
                      {{ $t("años") }}
                    </v-col>
                  </v-col>
                </v-col>

                <v-col cols="6" class="pl-8 py-0">
                  <span
                    class="text-decoration-line-through text-body-2"
                    style="color:#ccc"
                    v-if="moto.oferta != 0 && moto.oferta != moto.pvp"
                  >
                    {{ moto.pvp + moto.drop }}
                  </span>
                </v-col>

                <v-col cols="12">
                  <v-row>
                    <v-col cols="6" class="py-5 pl-8">
                      <span
                        class="font-weight-bold py-0 fs-30"
                        :class="{
                          searchPriceValue: moto.specialPrice > 0,
                          'rent-color': moto.specialPrice <= 0
                        }"
                      >
                        {{ moto.oferta + moto.drop }}
                      </span>
                    </v-col>

                    <v-col cols="6" class="py-6">
                      <v-row
                        class="rent-bgcolor font-weight-bold text-body-1 white--text px-10 py-2 text-center justify-center width100"
                        @click="pushDrive(moto.gets)"
                        >+ INFO
                      </v-row>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
          </v-overlay>
          <v-row class="d-sm-inline-flex">
            <v-col sm="4" cols="12">
              <v-row>
                <v-col
                  cols="12"
                  class=" pt-2 pb-0 py-sm-0 line-height-1 color-333"
                >
                  <span
                    @click="pushDrive(moto.gets)"
                    class="pointerClass font-weight-bold fs-20"
                    >{{ moto.brand }} {{ moto.name }}</span
                  >
                  <span class="fs-10">{{ $t(" o similar") }}</span>
                  <span
                    class="d-sm-none float-right mt-1"
                    @click="overlaydisplay(page + '-' + idx)"
                  >
                    <v-icon class="black--text fs-20">mdi-information</v-icon>
                  </span>
                </v-col>
                <v-col cols="12" class="pt-1 pb-0 line-height-1"
                  >{{ moto.displacement }} c.c.</v-col
                >

                <v-col cols="12" class="pt-4 pb-0" v-if="moto.specialPrice > 0">
                  <span
                    class="bg-special-price px-2 py-2 white--text font-weight-bold button-radius"
                    >{{ $t("Oferta de hoy") }} {{ moto.specialPrice }}%</span
                  >
                </v-col>

                <v-col cols="12" class="pt-2 pt-sm-5 pb-0 px-2">
                  <v-dialog width="900">
                    <template v-slot:activator="{ on, attrs }">
                      <a class="color-555" v-bind="attrs" v-on="on"
                        ><v-icon color="red">mdi-map-marker</v-icon
                        ><span
                          class="text-decoration-underline ml-1"
                          v-if="moto.zona == ''"
                          >{{ $t("Ubicación") }}</span
                        >
                        <span
                          class="text-decoration-underline ml-1"
                          v-if="moto.zona != ''"
                          >{{ moto.zona }}</span
                        >
                      </a>
                    </template>
                    <v-card style="height:400px;overflow:hidden">
                      <component
                        :is="MglMap"
                        v-if="mountReady == true"
                        :accessToken="accessToken"
                        :mapStyle.sync="mapStyle"
                        :center="[
                          parseFloat(moto.latlong.split(',')[1]),
                          parseFloat(moto.latlong.split(',')[0])
                        ]"
                        :zoom="zoom"
                      >
                        <component
                          :is="MglMarker"
                          :coordinates="[
                            parseFloat(moto.latlong.split(',')[1]),
                            parseFloat(moto.latlong.split(',')[0])
                          ]"
                          color="red"
                        />
                      </component>
                    </v-card>
                  </v-dialog>
                </v-col>

                <v-col
                  cols="12"
                  class="pt-1 pb-0 px-2"
                  v-if="moto.km.extra === 0"
                >
                  <v-icon class="fs-18 ml-1" color="black"
                    >mdi-check-circle</v-icon
                  >
                  <span class="font-weight-bold ml-2">{{
                    $t("Kilómetros ilimitados")
                  }}</span>
                </v-col>

                <v-col
                  cols="12"
                  class="pt-1 pb-0 px-2"
                  v-if="moto.km.extra !== 0"
                >
                  <v-icon
                    class="d-none d-sm-inline-flex fs-18 pl-1 pb-1"
                    color="black"
                    >mdi-close-circle</v-icon
                  >
                  <span class="font-weight-bold ml-2"
                    >{{ $t("KM limitados") }}:
                  </span>
                  <span>{{ moto.km.extra }} km / {{ $t("día") }}.</span>
                </v-col>

                <v-col cols="12" class="pt-1 pb-0 px-2 d-none d-sm-block">
                  <v-icon class="fs-18 pl-1 pb-1" color="black fs-18 pl-1"
                    >mdi-check-circle</v-icon
                  >
                  <span class="font-weight-bold ml-2"
                    >{{ $t("Disponibilidad") }}:
                  </span>
                  <span>{{ $t("Inmediata") }}</span>
                </v-col>

                <v-col
                  cols="12"
                  class="pt-2 pb-1 d-none d-sm-flex"
                  v-if="moto.optionsFree.length > 0"
                >
                  <span class="font-weight-bold">{{ $t("Incluye") }}:</span>
                </v-col>
                <v-col
                  cols="12"
                  class="d-none d-sm-block py-0"
                  v-if="moto.optionsFree.length > 0"
                >
                  <v-img
                    v-for="(option, idp) in moto.optionsFree"
                    v-bind:key="idp"
                    max-height="40"
                    max-width="40"
                    src="/images/options/extra-helmet.jpg"
                    :title="$t(option.value)"
                  >
                  </v-img>
                </v-col>
              </v-row>
            </v-col>
            <v-col
              sm="5"
              cols="9"
              class="pt-5 pb-0 pt-sm-0 pt-md-1 pb-sm-3 px-sm-0 px-md-auto"
            >
              <!-- Logo (está en estatico, habrá que hacer un if mirando la base de datos para mostrarlo solo cuando se cumpla la condicion) -->
              <v-img
                src="https://static.rentalmotorbike.com//images/logos/bmwPartner.jpg"
                class="d-none d-sm-block p-absolute logo-fitxa"
              ></v-img>
              <!-- Logo -->
              <div @click="pushDrive(moto.gets)" class="pointerClass">
                <v-img
                  :lazy-src="'/' + moto.imgdata.m"
                  :src="
                    moto.error ? '/images/' + noImageSrc : '/' + moto.imgdata.m
                  "
                  v-on:error="tst(moto.error)"
                  class="img-fitxa"
                  width="370px"
                  height="220px"
                  eager
                  contain
                  on
                ></v-img>
                <!-- /images/vehicles/fotos-honda-125i-2020-21g.jpg -->
                <!-- https://static.rentalmotorbike.com/images/cache/350x300/bmw-g-310-gs-2020.jpg -->
              </div>
              <!-- Logo mobile (está en estatico, habrá que hacer un if mirando la base de datos para mostrarlo solo cuando se cumpla la condicion) -->
              <v-img
                src="https://static.rentalmotorbike.com//images/logos/bmwPartner.jpg"
                class="d-block d-sm-none logo-fitxa"
              ></v-img>
              <!-- Logo -->
              <div
                class="line-height-1 text-center d-none d-sm-block text-fitxa"
              >
                <span class="font-weight-bold">{{
                  $t("Pague ahora el %s % y el resto en su destino", {
                    param1: moto.pay
                  })
                }}</span>
              </div>
            </v-col>
            <v-col cols="3" class="justify-start d-sm-none py-0">
              <v-row class="mt-2" v-if="moto.optionsFree.length > 0">
                <v-col cols="12" class="font-weight-bold py-0 text-center"
                  >{{ $t("Incluye") }}:</v-col
                >
                <v-col
                  cols="12"
                  class="py-0 text-center"
                  v-if="moto.optionsFree.length > 0"
                >
                  <v-img
                    style="margin-right: 0px !important; margin-bottom: -8px !important;"
                    height="35"
                    width="35"
                    src="/images/options/extra-helmet.jpg"
                    v-for="(option, idp) in moto.optionsFree"
                    v-bind:key="idp"
                  >
                  </v-img>
                </v-col>
              </v-row>
            </v-col>

            <v-col sm="3" cols="12" class="p-relative">
              <v-row>
                <v-col cols="12" class="mb-2 pt-auto pr-auto pt-sm-1 pr-sm-1">
                  <v-row class="text-right">
                    <v-col
                      cols="9"
                      class="text-center d-block d-sm-none px-0 pb-4"
                    >
                      <span class="font-weight-bold">{{
                        $t("Pague ahora el %s % y el resto en su destino", {
                          param1: moto.pay
                        })
                      }}</span>
                    </v-col>
                    <v-col sm="12" cols="3" class="py-0">
                      <v-row>
                        <v-col
                          sm="7"
                          md="8"
                          class="px-0 text-right mt-1 d-none d-sm-flex flex-row-reverse font-italic"
                          style="color:#807b7b"
                          >{{ $t("Excelente") }}!<br />
                          {{ $t("%s Opiniones", { param1: 42 }) }}
                        </v-col>

                        <v-col
                          sm="5"
                          md="4"
                          cols="12"
                          class="pr-sm-8 pr-1 mt-sm-6 py-0"
                        >
                          <v-dialog width="900">
                            <template v-slot:activator="{ on, attrs }">
                              <a class="black--text" v-bind="attrs" v-on="on"
                                ><span
                                  class="px-5 py-2 text-body-1 "
                                  style="padding: 5px;border-radius: 10px 0 10px 0;background-color: #0b5f90;color: #fff;"
                                  >9</span
                                >
                              </a>
                            </template>
                            <v-card style="height:400px;overflow:hidden">
                              ss</v-card
                            >
                          </v-dialog>
                        </v-col>

                        <v-col
                          cols="12"
                          class="text-right d-flex d-sm-none pb-0 pt-1 pt-sm-2 flex-row-reverse pr-1 pr-sm-7 font-italic"
                          style="color:#807b7b"
                          >{{ $t("Excelente") }}!</v-col
                        >
                      </v-row>
                    </v-col>
                  </v-row>
                </v-col>

                <v-col cols="12">
                  <v-row>
                    <v-col
                      sm="12"
                      cols="6"
                      class="searchProductPrice-Final pr-sm-5 pt-0 pb-2 p-sm-auto d-flex"
                      align-self="end"
                    >
                      <v-row>
                        <v-col
                          cols="12"
                          class="text-center text-sm-right text-decoration-line-through line-height-1 py-0 color-ccc"
                          v-if="moto.oferta != 0 && moto.oferta != moto.pvp"
                        >
                          <span class="fs-14">
                            {{
                                  moto.pvp + moto.drop,

                            }}
                          </span>
                        </v-col>
                        <v-col
                          cols="12"
                          class="text-center text-sm-right font-weight-bold text-h5 py-0"
                          :class="{
                            searchPriceValue: moto.specialPrice > 0,
                            'rent-color': moto.specialPrice <= 0
                          }"
                        >
                          <span
                            class="fs-30"
                            v-if="moto.oferta != 0 && moto.oferta != moto.pvp"
                          >
                            {{
                              $n(
                                getActualPrice(
                                  moto.pvp + moto.drop,
                                  moto.supplier.currency
                                ),
                                "currency",
                                getCurrency
                              )
                            }}
                            {{ moto.oferta + moto.drop }}
                          </span>
                          <span class="fs-30" v-else>
                            {{
                              $n(
                                getActualPrice(
                                  moto.pvp + moto.drop,
                                  moto.supplier.currency
                                ),
                                "currency",
                                getCurrency
                              )
                            }}
                          </span>
                        </v-col>

                        <v-col
                          sm="12"
                          class="text-center text-sm-right py-0 text-body-2 font-weight-bold"
                        >
                          <span class="fs-12">
                            {{ $t("Solo") }}

                            77.55,

                            {{ $t("al día") }}
                          </span>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col
                      sm="12"
                      cols="6"
                      class="px-4 searchProductInfo-Button pr-sm-6 pb-4 d-flex"
                      align-self="end"
                    >
                      <v-row
                        class="rent-bgcolor font-weight-bold text-body-1 white--text px-10 py-2 float-sm-right text-center justify-center width100"
                        @click="pushDrive(moto.gets)"
                        >+ INFO
                      </v-row>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
        <v-row v-if="maxpage > 1">
          <v-col sm="12" class="mt-5">
            <v-pagination
              class="pagination-searchrent"
              v-model="page"
              :length="maxpage"
              @input="next"
            ></v-pagination>
          </v-col>
        </v-row>
        <v-row>
          <v-col sm="12" class="mt-9 px-7 px-sm-5">
            <span class="text-h6 rent-color fs-18">
              {{ $t("Featured opinions") }}
            </span>
          </v-col>
        </v-row>
        <v-row
          v-for="(opinion, id) in this.opinions"
          v-bind:key="'opinion' + id"
          class="px-7 px-sm-5"
        >
          <v-card
            width="100%"
            style="background:#f0efee"
            elevation="0"
            class="mt-2 mb-3 bo-a-1-e7"
          >
            <v-card-text class="black--text py-3">
              <div>
                <span
                  class="flag-icon mr-3"
                  :class="
                    'flag-icon-' + opinion.customer_country.toLowerCase().trim()
                  "
                ></span>
                <span class="mr-1">{{ opinion.customer_name }}</span>
                <span class="opidate"
                  >({{
                    $d(new Date(opinion.date_create), "short", $i18n.locale)
                  }})</span
                >
                <span class="ml-1">
                  <v-icon
                    color="black"
                    small
                    v-for="n in parseInt(opinion.rating_rmb)"
                    class="fs-14 pb-1"
                    style="margin-left: -2px;"
                    :key="n"
                    >mdi-star</v-icon
                  >
                </span>
              </div>
              <div class="col-xs-12 nopadding py-1">
                <b
                  >{{ opinion.moto_brand }} {{ opinion.moto_name }} ({{
                    opinion.days
                  }}
                  {{ $t("days") }})</b
                >
              </div>
              <div>
                {{ opinion.txt_rmb }}
              </div>
            </v-card-text>
          </v-card>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import axios from "axios";
import SideBar from "@/components/SideBar.vue";
import FilterRent from "@/components/FilterRent.vue";
import Opinion from "@/components/Opinion.vue";
import { mapGetters } from "vuex";
export default {
  data: function() {
    return {
      noImageSrc: "placeholder.jpg",
      isMobile: false,
      mountReady: false,
      mobileFilter: null,
      mobileMap: false,
      page: 1,
      maxpage: 1,
      motos: [],
      motosraw: [],
      lang: null,
      country: null,
      city: null,
      filterText: null,
      opinions: [],
      color: "#337ab7",
      postData: {},
      absolute: true,
      scrollable: true,
      types: [],
      areas: [],
      brands: [],
      brandsTop: [],
      brandsTopValue: [],
      displacements: [],
      mileages: [],
      specials: [],
      mapModal: false,
      map: null,
      accessToken:
        "pk.eyJ1IjoicmVudGFsbWIiLCJhIjoiY2pybHhleGtjMGM4aTQ5bXNjbDV6M3JteCJ9.tsfkVB9WnZyFJZtDKBpujQ", // your access token. Needed if you using Mapbox maps
      mapStyle: "mapbox://styles/rentalmb/cjrsyujgm1uuw2so5hxpuevw0", // your map style
      center: [],
      zoom: 9,
      self: this,
      fitBounds: [
        [0, 0],
        [0, 0]
      ],
      start: null,
      end: null,
      starthour: null,
      endhour: null,
      MglMap: null,
      MglMarker: null
    };
  },
  components: {
    SideBar,
    FilterRent,
    Opinion
  },
  computed: {
    getCurrency() {
      return this.$store.state.currency;
    },
    getDicCurrency() {
      return this.$store.state;
    }
  },
  methods: {
    ...mapGetters(["getCurrencyData"]),
    chkexists(arrays, val) {
      var exists = arrays.some(function(arrayVal) {
        return arrayVal === val;
      });
      return exists;
    },
    next(page) {
      this.page = page;
    },
    getActualPrice(pvp, from) {
      var currdata = this.getCurrencyData();
      var currentCurrency = this.getCurrency;
      //var dicCurr = this.getDicCurrency;
      console.log(this.getDicCurrency);
      console.log(currentCurrency);
      //var currencyChange = currdata[dicCurr[from]][currentCurrency]
      //console.log(currencyChange);
    },
    fetchOpinonData() {
      let opiParams = this.$route.query;
      opiParams.limit = 15;
      opiParams.lang = this.$route.params.lang;
      axios.post("/api/cityopiniones", opiParams).then(response => {
        this.opinions = response.data.data;
        Object.freeze(this.opinions);
      });
    },
    genetateFiltro() {
      let type = [];
      let area = [];
      let brand = [];
      let displacement = [];
      let mileage = [];
      let special = 0;
      let typechked = [];
      let areachked = [];
      let brandchked = [];
      let displacementchked = [];
      let mileagechked = [];
      let specialchked = 0;
      if (this.$route.query.type != undefined && this.$route.query.type != "") {
        typechked = this.$route.query.type;
      }
      if (this.$route.query.area != undefined && this.$route.query.area != "") {
        areachked = this.$route.query.area;
      }
      if (
        this.$route.query.brand != undefined &&
        this.$route.query.brand != ""
      ) {
        brandchked = this.$route.query.brand;
      }
      if (this.$route.query.cc != undefined && this.$route.query.cc != "") {
        displacementchked = this.$route.query.cc;
      }
      if (this.$route.query.km != undefined && this.$route.query.km != "") {
        mileagechked = this.$route.query.km;
      }
      if (
        this.$route.query.special != undefined &&
        this.$route.query.special != ""
      ) {
        specialchked = 1;
      }
      let motosDataRaw = [];
      let datamotoraws = this.motosraw;
      Object.keys(datamotoraws).forEach(function(mid) {
        if (
          typechked.length == 0 &&
          areachked.length == 0 &&
          brandchked.length == 0 &&
          displacementchked.length == 0 &&
          mileagechked.length == 0 &&
          specialchked == 0
        ) {
          motosDataRaw.push(datamotoraws[mid]);
        } else if (
          (typechked.length == 0 ||
            typechked.includes(
              datamotoraws[mid].type.replace(/^\s+|\s+$/g, "_")
            )) &&
          (areachked.length == 0 ||
            areachked.includes(
              datamotoraws[mid].zona.replace(/^\s+|\s+$/g, "_")
            )) &&
          (brandchked.length == 0 ||
            brandchked.includes(
              datamotoraws[mid].brand.replace(/^\s+|\s+$/g, "_")
            )) &&
          (displacementchked.length == 0 ||
            displacementchked.includes(
              datamotoraws[mid].displacementFilter
                .replace(/^\s+|\s+$/g, "_")
                .replace(/[^A-Za-z0-9_|]+/gi, "")
            )) &&
          (mileagechked.length == 0 ||
            mileagechked.includes(
              datamotoraws[mid].kmUnlimited.replace(/^\s+|\s+$/g, "_")
            )) &&
          (specialchked == 0 ||
            specialchked == datamotoraws[mid].specialPriceFilter)
        ) {
          motosDataRaw.push(datamotoraws[mid]);
        }
      });
      let pageData = [];
      let x = 1;
      let motos = [];

      let typedata = [];
      let areadata = [];
      let branddata = [];
      let displacementdata = [];
      let mileagedata = [];

      Object.keys(datamotoraws).forEach(function(mid) {
        //
        if (
          areachked.length == 0 &&
          brandchked.length == 0 &&
          displacementchked.length == 0 &&
          mileagechked.length == 0 &&
          specialchked == 0
        ) {
          typedata.push(datamotoraws[mid]);
        } else if (
          (areachked.length == 0 ||
            areachked.includes(
              datamotoraws[mid].zona.replace(/^\s+|\s+$/g, "_")
            )) &&
          (brandchked.length == 0 ||
            brandchked.includes(
              datamotoraws[mid].brand.replace(/^\s+|\s+$/g, "_")
            )) &&
          (displacementchked.length == 0 ||
            displacementchked.includes(
              datamotoraws[mid].displacementFilter
                .replace(/^\s+|\s+$/g, "_")
                .replace(/[^A-Za-z0-9_|]+/gi, "")
            )) &&
          (mileagechked.length == 0 ||
            mileagechked.includes(
              datamotoraws[mid].kmUnlimited.replace(/^\s+|\s+$/g, "_")
            )) &&
          (specialchked == 0 ||
            specialchked == datamotoraws[mid].specialPriceFilter)
        ) {
          typedata.push(datamotoraws[mid]);
        }

        if (
          typechked.length == 0 &&
          brandchked.length == 0 &&
          displacementchked.length == 0 &&
          mileagechked.length == 0 &&
          specialchked == 0
        ) {
          areadata.push(datamotoraws[mid]);
        } else if (
          (typechked.length == 0 ||
            typechked.includes(
              datamotoraws[mid].type.replace(/^\s+|\s+$/g, "_")
            )) &&
          (brandchked.length == 0 ||
            brandchked.includes(
              datamotoraws[mid].brand.replace(/^\s+|\s+$/g, "_")
            )) &&
          (displacementchked.length == 0 ||
            displacementchked.includes(
              datamotoraws[mid].displacementFilter
                .replace(/^\s+|\s+$/g, "_")
                .replace(/[^A-Za-z0-9_|]+/gi, "")
            )) &&
          (mileagechked.length == 0 ||
            mileagechked.includes(
              datamotoraws[mid].kmUnlimited.replace(/^\s+|\s+$/g, "_")
            )) &&
          (specialchked == 0 ||
            specialchked == datamotoraws[mid].specialPriceFilter)
        ) {
          areadata.push(datamotoraws[mid]);
        }

        if (
          typechked.length == 0 &&
          areachked.length == 0 &&
          displacementchked.length == 0 &&
          mileagechked.length == 0 &&
          specialchked == 0
        ) {
          branddata.push(datamotoraws[mid]);
        } else if (
          (typechked.length == 0 ||
            typechked.includes(
              datamotoraws[mid].type.replace(/^\s+|\s+$/g, "_")
            )) &&
          (areachked.length == 0 ||
            areachked.includes(
              datamotoraws[mid].zona.replace(/^\s+|\s+$/g, "_")
            )) &&
          (displacementchked.length == 0 ||
            displacementchked.includes(
              datamotoraws[mid].displacementFilter
                .replace(/^\s+|\s+$/g, "_")
                .replace(/[^A-Za-z0-9_|]+/gi, "")
            )) &&
          (mileagechked.length == 0 ||
            mileagechked.includes(
              datamotoraws[mid].kmUnlimited.replace(/^\s+|\s+$/g, "_")
            )) &&
          (specialchked == 0 ||
            specialchked == datamotoraws[mid].specialPriceFilter)
        ) {
          branddata.push(datamotoraws[mid]);
        }

        if (
          typechked.length == 0 &&
          areachked.length == 0 &&
          brandchked.length == 0 &&
          mileagechked.length == 0 &&
          specialchked == 0
        ) {
          displacementdata.push(datamotoraws[mid]);
        } else if (
          (typechked.length == 0 ||
            typechked.includes(
              datamotoraws[mid].type.replace(/^\s+|\s+$/g, "_")
            )) &&
          (areachked.length == 0 ||
            areachked.includes(
              datamotoraws[mid].zona.replace(/^\s+|\s+$/g, "_")
            )) &&
          (brandchked.length == 0 ||
            brandchked.includes(
              datamotoraws[mid].brand.replace(/^\s+|\s+$/g, "_")
            )) &&
          (mileagechked.length == 0 ||
            mileagechked.includes(
              datamotoraws[mid].kmUnlimited.replace(/^\s+|\s+$/g, "_")
            )) &&
          (specialchked == 0 ||
            specialchked == datamotoraws[mid].specialPriceFilter)
        ) {
          displacementdata.push(datamotoraws[mid]);
        }

        if (
          typechked.length == 0 &&
          areachked.length == 0 &&
          brandchked.length == 0 &&
          displacementchked.length == 0 &&
          specialchked == 0
        ) {
          mileagedata.push(datamotoraws[mid]);
        } else if (
          (typechked.length == 0 ||
            typechked.includes(
              datamotoraws[mid].type.replace(/^\s+|\s+$/g, "_")
            )) &&
          (areachked.length == 0 ||
            areachked.includes(
              datamotoraws[mid].zona.replace(/^\s+|\s+$/g, "_")
            )) &&
          (brandchked.length == 0 ||
            brandchked.includes(
              datamotoraws[mid].brand.replace(/^\s+|\s+$/g, "_")
            )) &&
          (displacementchked.length == 0 ||
            displacementchked.includes(
              datamotoraws[mid].displacementFilter
                .replace(/^\s+|\s+$/g, "_")
                .replace(/[^A-Za-z0-9_|]+/gi, "")
            )) &&
          (specialchked == 0 ||
            specialchked == datamotoraws[mid].specialPriceFilter)
        ) {
          mileagedata.push(datamotoraws[mid]);
        }
      });
      typedata.forEach(x => {
        if (!type.includes(x.type) && x.type != "") {
          type.push(x.type);
        }
      });
      areadata.forEach(x => {
        if (!area.includes(x.zona) && x.zona != "") {
          area.push(x.zona);
        }
      });
      branddata.forEach(x => {
        if (!brand.includes(x.brand) && x.brand != "") {
          brand.push(x.brand);
        }
      });
      displacementdata.forEach(x => {
        if (
          !displacement.includes(x.displacementFilter) &&
          x.displacementFilter != ""
        ) {
          displacement.push(x.displacementFilter);
        }
      });
      mileagedata.forEach(x => {
        if (!mileage.includes(x.kmUnlimited) && x.kmUnlimited != "") {
          mileage.push(x.kmUnlimited);
        }
      });

      Object.keys(motosDataRaw).forEach(function(key) {
        if (motosDataRaw[key].specialPriceFilter == 1) {
          special = 1;
        }
        if (parseInt(key) + 1 <= x * 20) {
          pageData.push(motosDataRaw[key]);
        }
        if (
          parseInt(key) + 1 == x * 20 ||
          (parseInt(key) + 1 < x * 20 &&
            parseInt(key) + 1 == motosDataRaw.length)
        ) {
          x = x + 1;
          motos.push(pageData);
          pageData = [];
        }
      });
      this.motos = motos;
      this.maxpage = Math.ceil(motosDataRaw.length / 20);
      this.types.forEach(t => {
        if (typechked.includes(t.value.replace(/^\s+|\s+$/g, "_"))) {
          t.checked = true;
        }
        if (
          !type.includes(t.value) &&
          !typechked.includes(t.value.replace(/^\s+|\s+$/g, "_"))
        ) {
          t.disabled = true;
        } else {
          t.disabled = false;
        }
      });
      this.areas.forEach(a => {
        if (areachked.includes(a.value.replace(/^\s+|\s+$/g, "_"))) {
          a.checked = true;
        }
        if (
          !area.includes(a.value) &&
          !areachked.includes(a.value.replace(/^\s+|\s+$/g, "_"))
        ) {
          a.disabled = true;
        } else {
          a.disabled = false;
        }
      });
      this.brandsTopValue = [];
      this.brands.forEach(b => {
        if (brandchked.includes(b.value.replace(/^\s+|\s+$/g, "_"))) {
          b.checked = true;
          this.brandsTopValue.push(b.value);
        }
        if (
          !brand.includes(b.value) &&
          !brandchked.includes(b.value.replace(/^\s+|\s+$/g, "_"))
        ) {
          b.disabled = true;
        } else {
          b.disabled = false;
        }
      });
      this.displacements.forEach(d => {
        if (
          displacementchked.includes(
            d.value.replace(/^\s+|\s+$/g, "_").replace(/[^A-Za-z0-9_|]+/gi, "")
          )
        ) {
          d.checked = true;
        }
        if (
          !displacement.includes(d.value) &&
          !displacementchked.includes(
            d.value.replace(/^\s+|\s+$/g, "_").replace(/[^A-Za-z0-9_|]+/gi, "")
          )
        ) {
          d.disabled = true;
        } else {
          d.disabled = false;
        }
      });
      this.mileages.forEach(m => {
        if (mileagechked.includes(m.value)) {
          m.checked = true;
        }
        if (!mileage.includes(m.value) && !mileagechked.includes(m.value)) {
          m.disabled = true;
        } else {
          m.disabled = false;
        }
      });

      if (special == 1) {
        this.specials = {
          text: 1,
          value: 1,
          checked: specialchked,
          disabled: false
        };
      }

      let num = 1;
      let brandlist = [];
      this.brandsTop = [];

      this.brands.forEach(brand => {
        if (num <= 7) {
          this.brandsTop.push(brand);
        } else if (num > 7 && num <= this.brands.length) {
          brandlist.push(brand);
        }
        num = num + 1;
      });

      if (num >= 7) {
        this.brandsTop.push(brandlist);
      }
    },
    pushDrive(id) {
      this.$router
        .push({
          name: "Driver",
          query: {
            id: id
          },
          params: {
            lang: this.lang
          }
        })
        .catch(failure => {
          console.log(failure);
        });
    },
    overlaydisplay(idx) {
      let key = idx.split("-");
      let pkey = parseInt(key[0]) - 1;
      let nkey = parseInt(key[1]);
      if (this.motos[pkey][nkey].overlay == true) {
        this.motos[pkey][nkey].overlay = false;
      } else {
        this.motos[pkey][nkey].overlay = true;
      }
    },
    mapLoad() {
      this.$refs.mapbox.actions.fitBounds(this.fitBounds);
    },
    tst(sss) {
      console.log(this.getDicCurrency);
    },
    filterChk() {
      var data = {
        country: this.$route.query.country,
        city: this.$route.query.city,
        start: this.$route.query.start,
        starthour: this.$route.query.starthour,
        end: this.$route.query.end,
        endhour: this.$route.query.endhour
      };

      if (this.brandsTopValue.length > 0) {
        data["brand"] = JSON.stringify(this.brandsTopValue)
          .replace(/^\s+|\s+$/g, "_")
          .replaceAll(",", "|")
          .replace(/[^A-Za-z0-9_|]+/gi, "");
      }

      this.$router
        .push({
          path: this.$router.currentRoute.path,
          query: data,
          params: {
            lang: this.lang
          }
        })
        .catch(failure => {
          console.log(failure);
        });
    },
    async testApi() {
      let horaStart = this.$route.query.starthour + ":00";
      let city2 = this.$route.query.city2;
      await axios
        .post("/api/search/bases", {
          city2: this.$route.query.city2,
          city: this.$route.query.city,
          start: this.$route.query.start,
          end: this.$route.query.end
        })
        .then(response => {
          let scheduleChkData = [];
          let scheduleReturnChkData = [];
          let allBase = response.data.data;
          if (allBase.length == 0) {
            return "no base";
          }
          Object.keys(allBase).forEach(function(key) {
            if (Object.keys(allBase[key]).length == 2) {
              //chk base inicial

              if (scheduleChkData[allBase[key].start.id_base] === undefined) {
                scheduleChkData[allBase[key].start.id_base] = [];
                scheduleChkData[allBase[key].start.id_base]["default"] = 0;
                scheduleChkData[allBase[key].start.id_base]["selected"] = 0;
                scheduleChkData[allBase[key].start.id_base]["available"] = 0;
              }
              if (
                allBase[key].start.start == "0000-00-00" &&
                allBase[key].start.end == "0000-00-00"
              ) {
                if (
                  (new Date("2020-01-01 " + allBase[key].start.hourFrom1) <=
                    new Date("2020-01-01 " + horaStart) &&
                    new Date("2020-01-01 " + allBase[key].start.hourTo1) >=
                      new Date("2020-01-01 " + horaStart)) ||
                  (new Date("2020-01-01 " + allBase[key].start.hourFrom2) <=
                    new Date("2020-01-01 " + horaStart) &&
                    new Date("2020-01-01 " + allBase[key].start.hourTo2) >=
                      new Date("2020-01-01 " + horaStart))
                ) {
                  scheduleChkData[allBase[key].start.id_base]["default"] = 1;
                } else {
                  scheduleChkData[allBase[key].start.id_base]["default"] = 0;
                }
              } else {
                scheduleChkData[allBase[key].start.id_base]["selected"] = 1;
                if (
                  (new Date("2020-01-01 " + allBase[key].start.hourFrom1) <=
                    new Date("2020-01-01 " + horaStart) &&
                    new Date("2020-01-01 " + allBase[key].start.hourTo1) >=
                      new Date("2020-01-01 " + horaStart)) ||
                  (new Date("2020-01-01 " + allBase[key].start.hourFrom2) <=
                    new Date("2020-01-01 " + horaStart) &&
                    new Date("2020-01-01 " + allBase[key].start.hourTo2) >=
                      new Date("2020-01-01 " + horaStart))
                ) {
                  scheduleChkData[allBase[key].start.id_base]["available"] = 1;
                }
              }

              //chk return base

              if (
                city2 != "" &&
                city2 != undefined &&
                allBase[key].end != undefined
              ) {
                if (
                  scheduleReturnChkData[allBase[key].start.id_base] ===
                  undefined
                ) {
                  scheduleReturnChkData[allBase[key].start.id_base] = [];
                  scheduleReturnChkData[allBase[key].start.id_base][
                    "default"
                  ] = 0;
                  scheduleReturnChkData[allBase[key].start.id_base][
                    "selected"
                  ] = 0;
                  scheduleReturnChkData[allBase[key].start.id_base][
                    "available"
                  ] = 0;
                  scheduleReturnChkData[allBase[key].start.id_base]["id_base"] =
                    allBase[key].end.id_base;
                }
                if (
                  allBase[key].end.start == "0000-00-00" &&
                  allBase[key].end.end == "0000-00-00"
                ) {
                  if (
                    (new Date("2020-01-01 " + allBase[key].end.hourFrom1) <=
                      new Date("2020-01-01 " + horaStart) &&
                      new Date("2020-01-01 " + allBase[key].end.hourTo1) >=
                        new Date("2020-01-01 " + horaStart)) ||
                    (new Date("2020-01-01 " + allBase[key].end.hourFrom2) <=
                      new Date("2020-01-01 " + horaStart) &&
                      new Date("2020-01-01 " + allBase[key].end.hourTo2) >=
                        new Date("2020-01-01 " + horaStart))
                  ) {
                    scheduleReturnChkData[allBase[key].start.id_base][
                      "default"
                    ] = 1;
                  } else {
                    scheduleReturnChkData[allBase[key].start.id_base][
                      "default"
                    ] = 0;
                  }
                } else {
                  scheduleReturnChkData[allBase[key].start.id_base][
                    "selected"
                  ] = 1;
                  if (
                    (new Date("2020-01-01 " + allBase[key].end.hourFrom1) <=
                      new Date("2020-01-01 " + horaStart) &&
                      new Date("2020-01-01 " + allBase[key].end.hourTo1) >=
                        new Date("2020-01-01 " + horaStart)) ||
                    (new Date("2020-01-01 " + allBase[key].end.hourFrom2) <=
                      new Date("2020-01-01 " + horaStart) &&
                      new Date("2020-01-01 " + allBase[key].end.hourTo2) >=
                        new Date("2020-01-01 " + horaStart))
                  ) {
                    scheduleReturnChkData[allBase[key].start.id_base][
                      "available"
                    ] = 1;
                  }
                }
              }
            }
          });
          let baseEnabledData = [];
          scheduleChkData.forEach(function(baseScheChk, baseId) {
            if (baseScheChk["available"] == 1) {
              if (baseEnabledData[baseId] === undefined) {
                baseEnabledData[baseId] = [];
              }
              baseEnabledData[baseId]["start"] = baseId;
            } else if (
              baseScheChk["default"] == 1 &&
              baseScheChk["selected"] == 0
            ) {
              if (baseEnabledData[baseId] === undefined) {
                baseEnabledData[baseId] = [];
              }
              baseEnabledData[baseId]["start"] = baseId;
            }
          });
          if (city2 == "" || city2 == undefined) {
            baseEnabledData.forEach(function(baseEnabled) {
              baseEnabled["end"] = baseEnabled["start"];
            });
          } else {
            scheduleReturnChkData.forEach(function(baseScheChk2, baseId2) {
              if (baseScheChk2["available"] == 1) {
                baseEnabledData[baseId2]["end"] = baseScheChk2["id_base"];
              } else if (
                baseScheChk2["default"] == 1 &&
                baseScheChk2["selected"] == 0
              ) {
                baseEnabledData[baseId2]["end"] = baseScheChk2["id_base"];
              }
            });
          }
          let bases = [];
          let index = 0;
          baseEnabledData.forEach(e => {
            if (e["start"] != undefined && e["end"] != undefined) {
              bases[index] = { start: e["start"], end: e["end"] };
              index = index + 1;
            }
          });
          if (bases.length == 0) {
            let schedule = [];
            Object.keys(allBase).forEach(function(key) {
              if (Object.keys(allBase[key]).length == 2) {
                schedule["start"] = allBase[key]["start"];
                schedule["end"] = allBase[key]["end"];
              } else {
                if (
                  city2 != "" &&
                  city2 != undefined &&
                  allBase[key].end != undefined
                ) {
                  //continue
                } else {
                  schedule["start"] = allBase[key]["start"];
                }
              }
            });
            return schedule;
          }
          this.testApi2(JSON.stringify(bases), this);
        });
    },
    intToBase(content) {
      let codeset = "abcdefghjkmnqrsuvwxyzpilot";
      let base = codeset.length;
      let converted = "";
      while (content > 0) {
        converted = codeset.substr(content % base, 1) + converted;
        content = Math.floor(content / base);
      }
      return converted;
    },
    displacementFilterData(displacement) {
      if (displacement != "") {
        let displacementMoto = parseInt(displacement.replace(" ", ""));

        if (displacementMoto <= 50 && displacementMoto >= 1) {
          return "50 c.c.";
        }
        if (displacementMoto == 125) {
          return "125 c.c.";
        }
        if (displacementMoto > 125 && displacementMoto < 599) {
          return "126 c.c. - 599 c.c.";
        }
        if (displacementMoto > 599 && displacementMoto < 999) {
          return "600 c.c. - 1000 c.c.";
        }
        if (displacementMoto > 999) {
          return "> 1000 c.c.";
        } else {
          return displacementMoto + " c.c.";
        }
      }
      return displacement;
    },
    async testApi2(baseIdData, compn) {
      axios
        .post("/api/search/vehicles", {
          bases: baseIdData,
          start: this.$route.query.start,
          end: this.$route.query.end,
          starthour: this.$route.query.starthour + ":00",
          endthour: this.$route.query.endhour + ":00"
        })
        .then(response => {
          let vehis = response.data.data;
          let dateData =
            compn.start.replace(/-/g, "") + compn.end.replace(/-/g, "");
          Object.keys(vehis).forEach(function(index) {
            //generate drive url
            let getUrl = [];

            getUrl.push(compn.intToBase(vehis[index].id_base));
            getUrl.push(compn.intToBase(dateData));

            getUrl.push(compn.intToBase(compn.starthour));
            getUrl.push(compn.intToBase(compn.endhour));
            getUrl.push(compn.intToBase(vehis[index].id));
            getUrl.push(compn.intToBase(vehis[index].baseId2));
            vehis[index]["getUrl"] = getUrl.join("-");
            if (vehis[index].id_supplier == 390) {
              vehis[index]["logo"] = "/images/logos/er.png";
            }
            if (
              vehis[index].supplier.bmwPartner == 1 &&
              vehis[index].brand == "BMW"
            ) {
              vehis[index]["logo"] = "/images/logos/bmwPartner.jpg";
            }
            if (vehis[index].supplier.ducatiPartner == 1) {
              vehis[index]["logo"] = "/images/logos/ducatiPartner.jpg";
            }
            if (vehis[index].specialPriceData != null) {
              if (vehis[index].specialPriceData.discount > 0) {
                let valorDescuento =
                  100 - vehis[index].specialPriceData.discount;
                if (vehis[index].oferta > 0) {
                  vehis[index].pvp = vehis[index].oferta;
                  vehis[index].oferta =
                    (vehis[index].oferta * valorDescuento) / 100;
                } else {
                  vehis[index].oferta =
                    (vehis[index].pvp * valorDescuento) / 100;
                }
                vehis[index].specialPrice =
                  vehis[index].specialPriceData.discount;
                vehis[index].specialPriceMessage =
                  vehis[index].specialPriceData.message;
                vehis[index].specialPriceFilter = 1;
              }
            }
            let fraccionado = "";
            if (vehis[index].supplier.pago_fraccionado != 100) {
              fraccionado = vehis[index].supplier.pago_fraccionado;
            }
            vehis[index].pay = fraccionado;
            vehis[index].zona = vehis[index].base.zona;
            vehis[index].latlong = vehis[index].base.latlong;

            let km = [];
            if (vehis[index].maxdiasIlimitadosRadio == 1) {
              if (
                vehis[index].supplier.numberDays >=
                vehis[index].maxdiasIlimitados
              ) {
                km["extra"] = 0;
                km["pvp_extra"] = 0;
              } else {
                km["extra"] = vehis[index].extra_km;
                km["pvp_extra"] = vehis[index].limit_km;
              }
            } else {
              km["extra"] = vehis[index].extra_km;
              km["pvp_extra"] = vehis[index].limit_km;
            }

            vehis[index].km = km;
            vehis[index].kmUnlimited = vehis[index].extra_km;
            vehis[index].displacementFilter = compn.displacementFilterData(
              vehis[index].displacement
            );

            /* $info_vehicles[$vehicle['id']]['vip'] = $baseVip
            $info_vehicles[$vehicle['id']]['supplierId'] = $supplierId
            $info_vehicles[$vehicle['id']]['ndays'] = $numberDays */
          });

          Object.keys(vehis).forEach(function(ii) {
            if (vehis[ii]["oferta"] == 0) {
              vehis[ii]["pricefilter"] = vehis[ii]["pvp"];
            } else {
              vehis[ii]["pricefilter"] = vehis[ii]["oferta"];
            }
          });
          Object.keys(vehis).sort(function(a, b) {
            return vehis[a].pricefilter - vehis[b].pricefilter;
          });

          let pageData = [];
          let x = 1;
          let motos = [];
          let motosDataRaw = vehis;
          let long1 = parseFloat(
            motosDataRaw[Object.keys(motosDataRaw)[0]].latlong.split(",")[1]
          );
          let lat1 = parseFloat(
            motosDataRaw[Object.keys(motosDataRaw)[0]].latlong.split(",")[0]
          );
          let long2 = parseFloat(
            motosDataRaw[Object.keys(motosDataRaw)[0]].latlong.split(",")[1]
          );
          let lat2 = parseFloat(
            motosDataRaw[Object.keys(motosDataRaw)[0]].latlong.split(",")[0]
          );

          let type = [];
          let area = [];
          let brand = [];
          let displacement = [];
          let mileage = [];
          let special = 0;

          Object.keys(motosDataRaw).forEach(function(mid) {
            if (
              !type.includes(motosDataRaw[mid].type) &&
              motosDataRaw[mid].type != ""
            ) {
              type.push(motosDataRaw[mid].type);
            }
            if (
              !area.includes(motosDataRaw[mid].zona) &&
              motosDataRaw[mid].zona != ""
            ) {
              area.push(motosDataRaw[mid].zona);
            }
            if (
              !brand.includes(motosDataRaw[mid].brand) &&
              motosDataRaw[mid].brand != ""
            ) {
              brand.push(motosDataRaw[mid].brand);
            }
            if (
              !displacement.includes(motosDataRaw[mid].displacementFilter) &&
              motosDataRaw[mid].displacementFilter != ""
            ) {
              displacement.push(motosDataRaw[mid].displacementFilter);
            }
            if (
              !mileage.includes(motosDataRaw[mid].kmUnlimited) &&
              motosDataRaw[mid].kmUnlimited != ""
            ) {
              mileage.push(motosDataRaw[mid].kmUnlimited);
            }
            if (motosDataRaw[mid].specialPriceFilter == 1) {
              special = 1;
            }
          });
          type.sort();
          area.sort();
          brand.sort();
          this.types = [];
          this.areas = [];
          this.brands = [];
          this.displacements = [];
          this.mileages = [];
          this.specials = [];
          type.forEach(t => {
            this.types.push({
              text: t,
              value: t,
              checked: false,
              disabled: false
            });
          });
          area.forEach(a => {
            this.areas.push({
              text: a,
              value: a,
              checked: false,
              disabled: false
            });
          });

          let num = 1;
          let brandlist = [];
          this.brandsTop = [];
          brand.forEach(b => {
            this.brands.push({
              text: b,
              value: b,
              checked: false,
              disabled: false
            });
            this.brands.forEach(brand => {
              if (num <= 7) {
                this.brandsTop.push(brand);
              } else if (num > 7 && num <= this.brands.length) {
                brandlist.push(brand);
              }
              num = num + 1;
            });

            if (num >= 7) {
              this.brandsTop.push(brandlist);
            }
          });
          displacement.forEach(d => {
            this.displacements.push({
              text: d,
              value: d,
              checked: false,
              disabled: false
            });
          });
          mileage.forEach(m => {
            let mt = "";
            if (m == 0) {
              mt = this.$t("Ilimitados");
            } else {
              mt = m;
            }
            this.mileages.push({
              text: mt,
              value: m,
              checked: false,
              disabled: false
            });
          });
          if (special == 1) {
            this.specials = {
              text: 1,
              value: 1,
              checked: false,
              disabled: false
            };
          }

          Object.keys(motosDataRaw).forEach(function(key) {
            if (parseFloat(motosDataRaw[key].latlong.split(",")[1]) < long1) {
              long1 = parseFloat(motosDataRaw[key].latlong.split(",")[1]);
            }
            if (parseFloat(motosDataRaw[key].latlong.split(",")[0]) > lat1) {
              lat1 = parseFloat(motosDataRaw[key].latlong.split(",")[0]);
            }

            if (parseFloat(motosDataRaw[key].latlong.split(",")[1]) > long2) {
              long2 = parseFloat(motosDataRaw[key].latlong.split(",")[1]);
            }
            if (parseFloat(motosDataRaw[key].latlong.split(",")[0]) < lat2) {
              lat2 = parseFloat(motosDataRaw[key].latlong.split(",")[0]);
            }
          });

          Object.keys(motosDataRaw).forEach(function(key) {
            if (parseInt(key) + 1 <= x * 20) {
              motosDataRaw[key]["overlay"] = false;
              pageData.push(motosDataRaw[key]);
            }
            if (
              parseInt(key) + 1 == x * 20 ||
              (parseInt(key) + 1 < x * 20 &&
                parseInt(key) + 1 == motosDataRaw.length)
            ) {
              x = x + 1;
              motos.push(pageData);
              pageData = [];
            }
          });
          this.motos = motos;
          this.motosraw = motosDataRaw;
          this.genetateFiltro(motosDataRaw);
          this.fitBounds[0][0] = long1 - 0.5;
          this.fitBounds[0][1] = lat1 + 0.5;
          this.fitBounds[1][0] = long2 + 0.5;
          this.fitBounds[1][1] = lat2 - 0.5;
          this.center = [long2, lat1];
          if (this.$route.query.page > 0) {
            this.page = parseInt(this.$route.query.page);
          }

          var caduca = Math.round(
            Math.abs(
              new Date(this.postData.start).getTime() - new Date().getTime()
            ) / 1000
          );

          /* this.$cookies.set("search_startdate", this.postData.start, caduca);
          this.$cookies.set("search_enddate", this.postData.end, caduca);
          this.$cookies.set("search_country_v", this.postData.country, caduca);
          this.$cookies.set("search_country1", this.postData.city, caduca);
          this.$cookies.set(
            "search_start_hour",
            this.postData.starthour,
            caduca
          );
          this.$cookies.set("search_end_hour", this.postData.endhour, caduca);
          if (this.postData.city !== undefined) {
            this.$cookies.set("search_country1", this.postData.city, caduca);
          } else {
            this.$cookies.remove("search_country1");
          }
          if (this.postData.city2 !== undefined) {
            this.$cookies.set("search_city2", this.postData.city2, caduca);
          } else {
            this.$cookies.remove("search_city2");
          } */
        });
    }
  },
  watch: {
    "$route.query.country"() {
      this.fetchOpinonData();
      this.fetchData();
    },
    "$route.query.city"() {
      this.fetchOpinonData();
      this.fetchData();
    },
    "$route.query.start"() {
      this.fetchOpinonData();
      this.fetchData();
    },
    "$route.query.starthour"() {
      this.fetchOpinonData();
      this.fetchData();
    },
    "$route.query.endhour"() {
      this.fetchOpinonData();
      this.fetchData();
    },
    "$route.query.end"() {
      this.fetchOpinonData();
      this.fetchData();
    },
    "$route.query.type"() {
      this.genetateFiltro();
    },
    "$route.query.area"() {
      this.genetateFiltro();
    },
    "$route.query.brand"() {
      this.genetateFiltro();
    },
    "$route.query.cc"() {
      this.genetateFiltro();
    },
    "$route.query.km"() {
      this.genetateFiltro();
    },
    "$route.query.special"() {
      this.genetateFiltro();
    }
  },
  created() {
    if (this.$route.params.lang == undefined) {
      this.$i18n.locale = "en";
    } else {
      this.$i18n.locale = this.$route.params.lang;
      this.lang = this.$route.params.lang;
    }
    let langUrl = "";
    if (this.$i18n.locale == "en") {
      langUrl = "";
    } else {
      langUrl = this.$i18n.locale;
    }
    this.start = this.$route.query.start;
    this.end = this.$route.query.end;
    this.starthour = this.$route.query.starthour;
    this.endhour = this.$route.query.endhour;
    this.postData = this.$route.query;
    if (this.postData.start == undefined) {
      this.postData.start = new Date().toISOString().substr(0, 10);
    }
    if (this.postData.end == undefined) {
      this.postData.end = new Date().toISOString().substr(0, 10);
    }
    if (this.postData.country == undefined) {
      this.postData.country = "ES";
    }
    if (this.postData.starthour == undefined) {
      this.postData.start = 10;
    }
    if (this.postData.endhour == undefined) {
      this.postData.start = 10;
    }
    if (this.postData.city == undefined) {
      if (this.$route.params.city == undefined) {
        this.$router
          .push({
            path: "/" + langUrl
          })
          .catch(failure => {
            console.log(failure);
          });
      } else {
        this.postData.city = this.$route.params.city;
      }
    }

    this.country = this.postData.country;
    this.city = this.postData.city;
    if (this.city == undefined) {
      this.city = this.$route.params.city;
    }

    //this.filterText =
    //this.fetchData()
    this.fetchOpinonData();
    this.testApi();
  },
  mounted() {
    const { MglMap } = require("vue-mapbox");
    const { MglMarker } = require("vue-mapbox");
    const { Mapbox } = require("mapbox-gl");
    this.MglMap = MglMap;
    this.MglMarker = MglMarker;
    this.mapbox = Mapbox;

    this.mountReady = true;

    this.isMobile = navigator.userAgent.match(
      /(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i
    );
  }
};
</script>
<style>
.v-overlay__content {
  width: 100%;
  height: 100%;
}
.searchRentContainer .v-dialog {
  overflow-y: hidden !important;
}
/*@import '../assets/styles/searchRent.css';*/
</style>
